{% load base_taglib %}

{% if user.is_authenticated %}
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="auth-menu-button" data-bs-toggle="dropdown" aria-expanded="false">
            {%if avatar_url%}
            <div class="profile_thumbnail">
                <img src="{{avatar_url}}"  />
            </div>
            {%endif%}
            <span class="auth-name">{{current_user.contact.display_name}}</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="auth-menu-button">
            <li>
                <a class="dropdown-item" href="{% url 'base:profile' %}">
                    {%icon bi-person-circle%}
                    Profile
                </a>
            </li>

            <li>
                <a class="dropdown-item" href="{% url 'base:referral_dashboard' %}">
                    {%icon bi-chat-heart%}
                    Referral Dashboard
                </a>
            </li>

            {%if can_impersonate %}
                {# Link to Remove Current Impersonation ########}
                {% if is_impersonating %}
                <li>
                    <a class="dropdown-item" href="{% url 'base:stop_impersonating' %}" onclick="show_auth_spinner();">
                        {%icon bi-arrow-counterclockwise%}
                        Be Yourself
                    </a>
                </li>
                {% endif %}

                {# Link for impersonation selection form #######}
                <li>
                    <a class="dropdown-item" onclick="toggle_impersonation_form();">
                        {%icon bi-incognito%}
                        Impersonate Someone{%if is_impersonating%} Else{%endif%}
                    </a>
                </li>
            {% endif %}

            <li>
                <a class="dropdown-item" href="{%url 'socialaccount_connections'%}">
                    {%icon bi-robot%}
                    Connections
                </a>
            </li>

            <li>
                <a class="dropdown-item" href="{% url 'account_logout' %}">
                    {%icon bi-box-arrow-right%}
                    Log Out
                </a>
            </li>

        </ul>
    </div>

    {%include "base/components/impersonation_form.html"%}

{%endif%}