:root {
  --hh-navbar:      #1f242e;
  --hh-cream:       #f4f1e6;
  --hh-primary:        #7b9dab;
  --hh-primary-hover:        #6a8894;
  --hh-secondary:        #f4f1e6;
  --hh-secondary-hover:        #f4f1e6;
  --hh-info:        #5a6b89;
  --hh-info-hover:        #4f6079;
  --hh-success:     #6b8e23;
  --hh-success-hover:     #5f801f;
  --hh-warning:     #eabb24;
  --hh-warning-hover:     #dcb710;
  --hh-danger:      #b04c45;
  --hh-danger-hover:      #9e4039;
}


h1, h2, h3, h4, h5, .navbar-content, strong {
  font-family: "Madimi One", sans-serif;
  font-style: normal;
  font-weight: 400;
}
strong {
  font-size: 1.3em;
}


.btn-primary {
  --bs-btn-color: var(--hh-cream);
  --bs-btn-bg: var(--hh-navbar);
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: var(--hh-navbar);
  --bs-btn-hover-bg: #CCC;
  --bs-btn-hover-border-color: var(--hh-navbar);
  --bs-btn-focus-shadow-rgb: 11,172,204;
  --bs-btn-active-color: #CCC;
  --bs-btn-active-bg: var(--hh-navbar);
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #666;
  --bs-btn-disabled-bg: #a1a7a8;
  --bs-btn-disabled-border-color: #8e9b9f;
}

.btn-secondary {
  --bs-btn-color: var(--hh-navbar);
  --bs-btn-bg: #CCC;
  --bs-btn-border-color: var(--hh-navbar);
  --bs-btn-hover-color: #CCC;
  --bs-btn-hover-bg: var(--hh-navbar);
  --bs-btn-hover-border-color: #CCC;
  --bs-btn-focus-shadow-rgb: 11,172,204;
  --bs-btn-active-color: var(--hh-navbar);
  --bs-btn-active-bg: #CCC;
  --bs-btn-active-border-color: #CCC;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #666;
  --bs-btn-disabled-bg: #a1a7a8;
  --bs-btn-disabled-border-color: #8e9b9f;
}

.btn-default {
  --bs-btn-color: #f8f5eb;
  --bs-btn-bg: #6e7861;
  --bs-btn-border-color: #efe1bf;
  --bs-btn-hover-color: #6e7861;
  --bs-btn-hover-bg: #efe1bf;
  --bs-btn-hover-border-color: #6e7861;
  --bs-btn-focus-shadow-rgb: 11,172,204;
  --bs-btn-active-color: #f8f5eb;
  --bs-btn-active-bg: #6e7861;
  --bs-btn-active-border-color: #efe1bf;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #666;
  --bs-btn-disabled-bg: #a1a7a8;
  --bs-btn-disabled-border-color: #8e9b9f;
}

/**
  --bs-btn-bg: #6e7861;
  **/



.btn-success {
  --bs-btn-color: var(--hh-cream);
  --bs-btn-bg: var(--hh-success);
  --bs-btn-border-color: var(--hh-success);
  --bs-btn-hover-color: var(--hh-cream);
  --bs-btn-hover-bg: var(--hh-success-hover);
  --bs-btn-hover-border-color: var(--hh-success-hover);
  --bs-btn-focus-shadow-rgb: 107, 142, 35;
  --bs-btn-active-color: var(--hh-cream);
  --bs-btn-active-bg: var(--hh-success-hover);
  --bs-btn-active-border-color: var(--hh-success-hover);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d9d9d6;
  --bs-btn-disabled-bg: #b1c499;
  --bs-btn-disabled-border-color: #a3b68b;
}

.btn-danger {
  --bs-btn-color: var(--hh-cream);
  --bs-btn-bg: var(--hh-danger);
  --bs-btn-border-color: var(--hh-danger);
  --bs-btn-hover-color: var(--hh-cream);
  --bs-btn-hover-bg: var(--hh-danger-hover);
  --bs-btn-hover-border-color: var(--hh-danger-hover);
  --bs-btn-focus-shadow-rgb: 176, 76, 69;
  --bs-btn-active-color: var(--hh-cream);
  --bs-btn-active-bg: var(--hh-danger-hover);
  --bs-btn-active-border-color: var(--hh-danger-hover);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d9d9d6;
  --bs-btn-disabled-bg: #c48b86;
  --bs-btn-disabled-border-color: #b27b75;
}

.btn-warning {
  --bs-btn-color: var(--hh-navbar);
  --bs-btn-bg: var(--hh-warning);
  --bs-btn-border-color: var(--hh-warning);
  --bs-btn-hover-color: var(--hh-navbar);
  --bs-btn-hover-bg: var(--hh-warning-hover);
  --bs-btn-hover-border-color: var(--hh-warning-hover);
  --bs-btn-focus-shadow-rgb: 217, 152, 61;
  --bs-btn-active-color: var(--hh-navbar);
  --bs-btn-active-bg: var(--hh-warning-hover);
  --bs-btn-active-border-color: var(--hh-warning-hover);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d9d9d6;
  --bs-btn-disabled-bg: #e0b983;
  --bs-btn-disabled-border-color: #cca86d;
}

.btn-info {
  --bs-btn-color: var(--hh-cream);
  --bs-btn-bg: var(--hh-info);
  --bs-btn-border-color: var(--hh-info);
  --bs-btn-hover-color: var(--hh-cream);
  --bs-btn-hover-bg: var(--hh-info-hover);
  --bs-btn-hover-border-color: var(--hh-info-hover);
  --bs-btn-focus-shadow-rgb: 90, 107, 137;
  --bs-btn-active-color: var(--hh-cream);
  --bs-btn-active-bg: var(--hh-info-hover);
  --bs-btn-active-border-color: var(--hh-info-hover);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d9d9d6;
  --bs-btn-disabled-bg: #9ba5b3;
  --bs-btn-disabled-border-color: #8b95a1;
}

.alert-primary {
  --bs-alert-bg: var(--hh-info);
  --bs-alert-color: var(--hh-cream);
  --bs-alert-border-color: #6a8894;
}

.alert-success {
  --bs-alert-bg: var(--hh-success);
  --bs-alert-color: var(--hh-cream);
  --bs-alert-border-color: #5f801f;
}

.alert-danger {
  --bs-alert-bg: var(--hh-danger);
  --bs-alert-color: var(--hh-cream);
  --bs-alert-border-color: #9e4039;
}

.alert-warning {
  --bs-alert-bg: var(--hh-warning);
  --bs-alert-color: var(--hh-navbar);
  --bs-alert-border-color: #c18431;
}

.alert-info {
  --bs-alert-bg: var(--hh-info);
  --bs-alert-color: var(--hh-cream);
  --bs-alert-border-color: #4f6079;
}

.hobbs-alert strong::before{
    content: url("../images/hobbs-transparent-sm.png");
    margin-right: 5px;
}
.hobbs-alert strong{
    display:block;
}

.text-bg-info {

  --bs-alert-bg: var(--hh-info);
  --bs-alert-color: var(--hh-cream);
  --bs-alert-border-color: #4f6079;

  background-color: var(--hh-info) !important;
  color: var(--hh-cream) !important;
}

.text-bg-success {
  background-color: var(--hh-success) !important;
  color: var(--hh-cream) !important;
}

.text-bg-warning {
  background-color: var(--hh-warning) !important;
  color: var(--hh-navbar) !important;
}

.text-bg-danger {
  background-color: var(--hh-danger) !important;
  color: white !important;
}

.text-bg-primary {
  background-color: var(--hh-navbar) !important;
  color: var(--hh-cream) !important;
}

.text-bg-secondary {
  background-color: var(--hh-cream) !important;
  color: var(--hh-navbar) !important;
}

.text-bg-dark {
  background-color: var(--hh-navbar) !important;
  color: var(--hh-cream) !important;
}

.text-bg-light {
  background-color: var(--hh-cream) !important;
  color: var(--hh-navbar) !important;
}


