h1, h2, h3, h4, h5, .navbar-content, strong {
  font-family: "Madimi One", sans-serif;
  font-style: normal;
  font-weight: 400;
}
strong {
  font-size: 1.3em;
}


.btn-primary {
  --bs-btn-color: #CCC;
  --bs-btn-bg: #1f242e;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #1f242e;
  --bs-btn-hover-bg: #CCC;
  --bs-btn-hover-border-color: #1f242e;
  --bs-btn-focus-shadow-rgb: 11,172,204;
  --bs-btn-active-color: #CCC;
  --bs-btn-active-bg: #1f242e;
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #666;
  --bs-btn-disabled-bg: #a1a7a8;
  --bs-btn-disabled-border-color: #8e9b9f;
}

.btn-secondary {
  --bs-btn-color: #1f242e;
  --bs-btn-bg: #CCC;
  --bs-btn-border-color: #1f242e;
  --bs-btn-hover-color: #CCC;
  --bs-btn-hover-bg: #1f242e;
  --bs-btn-hover-border-color: #CCC;
  --bs-btn-focus-shadow-rgb: 11,172,204;
  --bs-btn-active-color: #1f242e;
  --bs-btn-active-bg: #CCC;
  --bs-btn-active-border-color: #CCC;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #666;
  --bs-btn-disabled-bg: #a1a7a8;
  --bs-btn-disabled-border-color: #8e9b9f;
}

.btn-default {
  --bs-btn-color: #f8f5eb;
  --bs-btn-bg: #6e7861;
  --bs-btn-border-color: #efe1bf;
  --bs-btn-hover-color: #6e7861;
  --bs-btn-hover-bg: #efe1bf;
  --bs-btn-hover-border-color: #6e7861;
  --bs-btn-focus-shadow-rgb: 11,172,204;
  --bs-btn-active-color: #f8f5eb;
  --bs-btn-active-bg: #6e7861;
  --bs-btn-active-border-color: #efe1bf;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #666;
  --bs-btn-disabled-bg: #a1a7a8;
  --bs-btn-disabled-border-color: #8e9b9f;
}

/**
  --bs-btn-bg: #6e7861;
  **/



.btn-success {
  --bs-btn-color: #f4f1e6;
  --bs-btn-bg: #6b8e23;
  --bs-btn-border-color: #6b8e23;
  --bs-btn-hover-color: #f4f1e6;
  --bs-btn-hover-bg: #5f801f;
  --bs-btn-hover-border-color: #5f801f;
  --bs-btn-focus-shadow-rgb: 107, 142, 35;
  --bs-btn-active-color: #f4f1e6;
  --bs-btn-active-bg: #55731c;
  --bs-btn-active-border-color: #55731c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d9d9d6;
  --bs-btn-disabled-bg: #b1c499;
  --bs-btn-disabled-border-color: #a3b68b;
}

.btn-danger {
  --bs-btn-color: #f4f1e6;
  --bs-btn-bg: #b04c45;
  --bs-btn-border-color: #b04c45;
  --bs-btn-hover-color: #f4f1e6;
  --bs-btn-hover-bg: #9e4039;
  --bs-btn-hover-border-color: #9e4039;
  --bs-btn-focus-shadow-rgb: 176, 76, 69;
  --bs-btn-active-color: #f4f1e6;
  --bs-btn-active-bg: #893932;
  --bs-btn-active-border-color: #893932;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d9d9d6;
  --bs-btn-disabled-bg: #c48b86;
  --bs-btn-disabled-border-color: #b27b75;
}

.btn-warning {
  --bs-btn-color: #1f242e;
  --bs-btn-bg: #d9983d;
  --bs-btn-border-color: #d9983d;
  --bs-btn-hover-color: #1f242e;
  --bs-btn-hover-bg: #c18431;
  --bs-btn-hover-border-color: #c18431;
  --bs-btn-focus-shadow-rgb: 217, 152, 61;
  --bs-btn-active-color: #1f242e;
  --bs-btn-active-bg: #a96d27;
  --bs-btn-active-border-color: #a96d27;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d9d9d6;
  --bs-btn-disabled-bg: #e0b983;
  --bs-btn-disabled-border-color: #cca86d;
}

.btn-info {
  --bs-btn-color: #f4f1e6;
  --bs-btn-bg: #5a6b89;
  --bs-btn-border-color: #5a6b89;
  --bs-btn-hover-color: #f4f1e6;
  --bs-btn-hover-bg: #4f6079;
  --bs-btn-hover-border-color: #4f6079;
  --bs-btn-focus-shadow-rgb: 90, 107, 137;
  --bs-btn-active-color: #f4f1e6;
  --bs-btn-active-bg: #44556a;
  --bs-btn-active-border-color: #44556a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d9d9d6;
  --bs-btn-disabled-bg: #9ba5b3;
  --bs-btn-disabled-border-color: #8b95a1;
}

.alert-primary {
  --bs-alert-bg: #7b9dab;
  --bs-alert-color: #f4f1e6;
  --bs-alert-border-color: #6a8894;
}

.alert-success {
  --bs-alert-bg: #6b8e23;
  --bs-alert-color: #f4f1e6;
  --bs-alert-border-color: #5f801f;
}

.alert-danger {
  --bs-alert-bg: #b04c45;
  --bs-alert-color: #f4f1e6;
  --bs-alert-border-color: #9e4039;
}

.alert-warning {
  --bs-alert-bg: #d9983d;
  --bs-alert-color: #1f242e;
  --bs-alert-border-color: #c18431;
}

.alert-info {
  --bs-alert-bg: #5a6b89;
  --bs-alert-color: #f4f1e6;
  --bs-alert-border-color: #4f6079;
}

.hobbs-alert strong::before{
    content: url("../images/hobbs-transparent-sm.png");
    margin-right: 5px;
}
.hobbs-alert strong{
    display:block;
}

/**
| Purpose            | Hex       |
| ------------------ | --------- |
| Nav Bar (Base)     | `#1f242e` |
| Background (Cream) | `#f4f1e6` |
| Accent Blue        | `#7b9dab` |
| Highlight Yellow   | `#e8c27f` |
| Support Gray       | `#c1bfb5` |
| Text (Charcoal)    | `#3a3a3a` |
| Success Green      | `#6b8e23` |
| Warning Amber      | `#d9983d` |
| Danger Red         | `#b04c45` |
| Link Blue          | `#5a6b89` |
**/

