h1, h2, h3, h4, h5, .navbar-content, strong {
  font-family: "Madimi One", sans-serif;
  font-style: normal;
  font-weight: 400;
}
strong {
  font-size: 1.3em;
}

.btn-info {
  --bs-btn-color: #f6ebcc;
  --bs-btn-bg: #086984;
  --bs-btn-border-color: #3796b0;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #3796b0;
  --bs-btn-hover-border-color: #086984;
  --bs-btn-focus-shadow-rgb: 11,172,204;
  --bs-btn-active-color: #f6ebcc;
  --bs-btn-active-bg: #086984;
  --bs-btn-active-border-color: #086984;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #666;
  --bs-btn-disabled-bg: #a1a7a8;
  --bs-btn-disabled-border-color: #8e9b9f;
}

.btn-primary {
  --bs-btn-color: #CCC;
  --bs-btn-bg: #1f242e;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #1f242e;
  --bs-btn-hover-bg: #CCC;
  --bs-btn-hover-border-color: #1f242e;
  --bs-btn-focus-shadow-rgb: 11,172,204;
  --bs-btn-active-color: #CCC;
  --bs-btn-active-bg: #1f242e;
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #666;
  --bs-btn-disabled-bg: #a1a7a8;
  --bs-btn-disabled-border-color: #8e9b9f;
}

.btn-secondary {
  --bs-btn-color: #1f242e;
  --bs-btn-bg: #CCC;
  --bs-btn-border-color: #1f242e;
  --bs-btn-hover-color: #CCC;
  --bs-btn-hover-bg: #1f242e;
  --bs-btn-hover-border-color: #CCC;
  --bs-btn-focus-shadow-rgb: 11,172,204;
  --bs-btn-active-color: #1f242e;
  --bs-btn-active-bg: #CCC;
  --bs-btn-active-border-color: #CCC;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #666;
  --bs-btn-disabled-bg: #a1a7a8;
  --bs-btn-disabled-border-color: #8e9b9f;
}

.btn-default {
  --bs-btn-color: #f8f5eb;
  --bs-btn-bg: #6e7861;
  --bs-btn-border-color: #efe1bf;
  --bs-btn-hover-color: #6e7861;
  --bs-btn-hover-bg: #efe1bf;
  --bs-btn-hover-border-color: #6e7861;
  --bs-btn-focus-shadow-rgb: 11,172,204;
  --bs-btn-active-color: #f8f5eb;
  --bs-btn-active-bg: #6e7861;
  --bs-btn-active-border-color: #efe1bf;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #666;
  --bs-btn-disabled-bg: #a1a7a8;
  --bs-btn-disabled-border-color: #8e9b9f;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0e7127;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5b1f;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0b5b1f;
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #198754;
  --bs-btn-disabled-border-color: #198754;
}

.btn-warning {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffca2c;
  --bs-btn-border-color: #ffc107;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffbf00;
  --bs-btn-hover-border-color: #ffc720;
  --bs-btn-focus-shadow-rgb: 217,164,6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffbf00;
  --bs-btn-active-border-color: #ffc720;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffc107;
  --bs-btn-disabled-border-color: #ffc107;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #de4221;
  --bs-btn-border-color: #dc3545;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b1341b;
  --bs-btn-hover-border-color: #b02a37;
  --bs-btn-focus-shadow-rgb: 225,83,97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b1341b;
  --bs-btn-active-border-color: #a52834;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dc3545;
  --bs-btn-disabled-border-color: #dc3545;
}

/**
  --bs-btn-bg: #6e7861;
  **/