{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}
{% load static %}

{%block title%}The Hangar Hub{%endblock%}

{% block main_content %}
<div class="content-800">
<h1>Products</h1>

{%for product in products%}
<section>
    <h2>{{product.name}}</h2>
    <span class="code">{{product.stripe_id}}</span><br />
    <div class="indent">
        <strong>Description:</strong> {{product.description}}<br />
        <strong>Active:</strong> {{product.active}}<br />
        <div class="list-group">
            {%for price in product.prices.all%}
                <div class="list-group-item" data-price_id="{{price.id}}">
                    <div class="float-left">
                        <div>
                            <strong>{{price.nickname}}:</strong> {%format_currency price.dollar_amount%}{{price.recurrence_suffix}}<br />
                            <span class="code">{{price.stripe_id}}</span>
                        </div><br />
                        <div>
                            <label for="features-{{price.id}}">Features</label>
                            <textarea name="features" id="features-{{price.id}}" class="form-control" onchange="update_price($(this));">{{price.features_json}}</textarea>
                        </div>
                    </div>
                    <div class="float-right">
                        <div>
                            {% if price.display and price.active%}
                                {%icon bi-check-circle text-success onclick="toggle_visibility($(this));"%} <span class="label">Displayed</span>
                            {%elif price.active%}
                                {%icon bi-incognito text-muted onclick="toggle_visibility($(this));"%} <span class="label">Hidden</span>
                            {%else%}
                                {%icon bi-slash-circle text-danger%} Inactive
                            {%endif%}
                        </div><br />


                        <div>
                            <label>
                                <input type="checkbox" name="featured" value="Y" onchange="update_price($(this));" /> Featured
                            </label>
                        </div>
                        <div>
                            <label>
                                {%icon bi-chat-right-heart title="Badge Text"%}
                                <input type="text" name="badge" value="{{price.badge|default:''}}" size="20" onchange="update_price($(this));" style="border:1px solid #DDD;border-radius:5px;" />
                            </label>
                        </div>

                        {% if price.recurring%}
                        <div>
                            <label>
                                {%icon bi-gift title="Free Trial"%}
                                <input type="text" value="{{price.trial_days}}" size="2" class="text-center" onchange="set_trial_days($(this));" style="border:1px solid #DDD;border-radius:5px;" />  days<br />
                            </label>
                        </div>
                        {%endif%}
                    </div>
                    <br style="clear:both" />



                </div>
            {%endfor%}
        </div>

    </div>
</section>

{%endfor%}

</div>

<script type="text/javascript">
    {%include "the_hangar_hub/admin/products/products.js"%}
</script>
{%endblock%}