/**
    Define application-specific variables here.

    Example:
        $my-color: get-color(MY_COLOR, brown);

    This defines $my-color as brown, unless overridden in sass_variables.py (ex MY_COLOR = 'green')
**/