{% load base_taglib %}
{% load upload_taglib %}
{% load static %}

{% for entry in blog_entries %}
    {%with uploaded_image=entry.main_image%}

    <div class="card float-left" data-entry_id="{{entry.id}}" onclick="read_more($(this));">
        {% if uploaded_image %}
            {%file_preview file=uploaded_image class="card-img-top" aria-hidden="true" link=False%}
        {% else %}
            <img src="{% static 'images/bs-cards/blog-placeholder-3.png' %}" aria-hidden="true" class="card-img-top" />
        {% endif %}
        <div class="card-body">
            <b class="card-title">{{entry.title}}</b>
            <div class="card-text">
                {{ entry.content|striptags }}
                <br />
            </div>
        </div>
        <div class="humanized float-left">
            {{entry.created_dh.humanized}}
        </div>
        <div class="read-more float-right">
            {%icon bi-three-dots title="Read More" style="display:inline-block;margin:10px 15px;"%}
        </div>
        <br style="clear:both;" />
    </div>
    {% endwith %}
{% endfor %}


<style>
    #airport-blog .card{
        max-width: 250px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    #airport-blog .card-body{
        height: 120px;
        font-size: .9em;
        overflow: hidden;
    }
    .blog-popup{
        background-color: white;
    }
    .blog-popup .card-title{
        display:block;
        margin: 25px 0;
        font-size: 2em;
    }
    .card .humanized{
        margin-top: 10px;
        margin-left: 15px;
        font-size: .8em;
        font-style: italic;
    }
</style>
<script type="text/javascript">
    {%include "the_hangar_hub/airport/customized/management/blog/blog.js"%}
</script>