{% load base_taglib %}
{%with waitlist=request.airport.get_waitlist%}
    <table class="table">
        <tr>
            <th scope="col">Position</th>
            <th scope="col">Applicant</th>
            <th scope="col">Priority</th>
            <th scope="col">Index</th>
            <th scope="col">Application Date</th>
            <th scope="col">Hangar Type</th>
            <th scope="col">Aircraft</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
        </tr>
    {%for application in waitlist.applications%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{application.user.first_name}} {{application.user.last_name}}</td>
            <td>
                <label>
                    <span class="visually-hidden">Waitlist Priority</span>
                    {%select_menu options=application.wl_group_options value=application.wl_group_code data_application_id=application.id class="form-select" name="wl_group_code" nullable=False onchange="update_wl_priority($(this));"%}
                </label>
            </td>
            <td>
                <label>
                    <span class="visually-hidden">Waitlist Index</span>
                    <input type="number" value="{{application.wl_index|default:''}}" data-application_id="{{application.id}}" placeholder="Auto" class="form-control" onchange="update_wl_index($(this));">
                </label>
            </td>
            <td>{{application.status_change_date}}</td>
            <td>{{application.hangar_type|default:''}}</td>
            <td>{{application.aircraft_make|default:''}} {{application.aircraft_model|default:''}}</td>
            <td>{{application.preferred_email|default:''}}</td>
            <td>{{application.preferred_phone.formatted_number|default:''}}</td>
            <td>
                <a href="{%url 'apply:review' application.id%}">{%icon bi-search title="View Application"%}</a>
            </td>
        </tr>
    {%endfor%}
    </table>
{%endwith%}