{% load base_taglib %}

{## Parameter: invoice ##}

<tr data-invoice_id="{{invoice.id}}">
    <td>{%humanized_date invoice.date_created%}</td>
    <td>
        {{invoice.period_start_date|date:preferred_date_format}} - {{invoice.period_end_date|date:preferred_date_format}}
    </td>
    <td>
        {%if not invoice.stripe_invoice%}
            Manual Collection
        {%elif not invoice.stripe_subscription%}
            Stripe (One-Time)
        {%else%}
            Stripe (Monthly)
        {%endif%}
    </td>
    <td>{%format_currency invoice.amount_charged%}</td>
    <td>
        {%format_currency invoice.amount_paid%}<br />
        {%if invoice.payment_method_code%}
            <em class="text-sm text-muted">{{invoice.payment_method}}</em>
        {%endif%}
    </td>
    <td>
        {{invoice.status}}
        {%if invoice.is_stripe_invoice%}
            <br />
            {{invoice.stripe_status}}
            {%if invoice.stripe_status == "Draft"%}
                {%icon bi-floppy text-success title="Finalize Invoice" onclick="finalize_invoice($(this));"%}
            {%endif%}
        {%endif%}
    </td>
    <td>
        {%if invoice.status_code == "O" or invoice.status_code == "I"%}
            {%icon bi-slash-circle text-danger title="Cancel Invoice" onclick="cancel_invoice($(this));"%}
                &nbsp;
        {%endif%}
        {%if invoice.status_code == "O"%}
            {%icon bi-cash-coin text-success title="Record Payment" onclick="show_payment_form($(this));" %}
                &nbsp;
            {%if not invoice.is_stripe_invoice%}
                {%icon bi-credit-card title="Collect via Stripe" onclick="convert_to_stripe($(this));" %}
                &nbsp;
            {%endif%}
            {%if not invoice.agreement.active_subscription%}
                {%icon bi-arrow-clockwise title="Start Subscription" onclick="start_subscription($(this));" %}
                &nbsp;
            {%endif%}
        {%endif%}

    </td>
</tr>