{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}

{%block title%}Rental Agreement Invoices{%endblock%}

{% block main_content %}
<h1>Rental Agreement Invoices</h1>
<br />
{%include "the_hangar_hub/airport/rent/management/_rental_agreement_summary.html"%}

<section>
{%if rental_agreement.invoice_models%}
    <h2>Invoices</h2>
    <table class="table" id="invoice_table">
        <tr>
            <th scope="col">Created</th>
            <th scope="col">Period</th>
            <th scope="col">Collection Method</th>
            <th scope="col">Charged</th>
            <th scope="col">Paid</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        {%for invoice in rental_agreement.invoice_models%}
            {%include "the_hangar_hub/airport/rent/management/invoices/_tr_invoice.html"%}
        {%endfor%}
    </table>

    {%include "the_hangar_hub/airport/rent/management/invoices/_form_record_payment.html"%}
{%endif%}
</section>

<section>
    <h2>Create an Invoice</h2>
    {%include "the_hangar_hub/airport/rent/management/invoices/_form_create_invoice.html"%}
</section>

<script type="text/javascript">
    {%include "the_hangar_hub/airport/rent/management/invoices/invoice.js"%}
</script>

{%endblock%}