{% load base_taglib %}

<div class="payment_summary_row">
    <div class="card float-left">
        <div class="card-body">
            <strong class="card-title">Rental Agreement</strong>
            <p class="card-text">
                {%include "the_hangar_hub/airport/rent/management/_rental_agreement_summary.html"%}
            </p>
        </div>
    </div>
    <div class="card float-left">
        <div class="card-body">
            <strong class="card-title">Stripe Customer</strong>
            <p class="card-text">
                {%include "the_hangar_hub/airport/rent/management/_customer_summary.html"%}
            </p>
        </div>
    </div>
    <div class="card float-left">
        <div class="card-body">
            <strong class="card-title">Rent Subscription</strong>
            <p class="card-text">
                {%include "the_hangar_hub/airport/rent/management/_subscription_summary.html"%}
            </p>
        </div>
    </div>
</div>
<br style="clear:both;" />

<style>
    .payment_summary_row{
        height: 200px;
        margin-bottom: 50px;
    }
    .payment_summary_row .card{
        height:100%;
        margin-right: 10px;
        margin-bottom: 10px;
    }
</style>