{% load base_taglib %}
{% if is_developer %}
<div class="header-menu">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dev-menu-button" data-bs-toggle="dropdown" aria-expanded="false">
            {%icon bi-tools title="Developer Tools"%}
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dev-menu-button">

                {%header_nav_menu_item icon="bi-heart-pulse" authorities="developer" url="base:status" label="Status"%}
                {%header_nav_menu_item icon="bi-key" authorities="developer" url="base:manage_authorities" label="Authorities"%}
                {%header_nav_menu_item icon="bi-people" authorities="developer" url="base:manage_users" label="Users"%}
                {%header_nav_menu_item icon="bi-toggles" authorities="developer" url="base:features" label="Features"%}
                {%header_nav_menu_item icon="bi-journal-medical" authorities="developer" url="base:audit" label="Audit Log"%}
                {%header_nav_menu_item icon="bi-database-down" authorities="developer" url="base:fixture_export_menu" label="Database Export"%}
                {%header_nav_menu_item icon="bi-bug" authorities="developer" url="base:errors" label="Errors"%}

                {%header_nav_menu_item icon="bi-stripe" authorities="developer" url="stripe:webhook_reaction" label="Process Webhooks"%}



        </ul>
    </div>

</div>
{% endif %}