{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}

{%block title%}Rental Payment Dashboard{%endblock%}

{% block main_content %}
<h1>Rental Payment Dashboard</h1>
<br />

<h2>Current Rental Agreements</h2>
<section>
    <table class="table">
        <tr>
            <th scope="row">Hangar</th>
            <th scope="row">Tenant</th>
            <th scope="row">Rent</th>
            <th scope="row">Paid Through</th>
            <th scope="row">Status</th>
        </tr>
        {%for rental in rentals%}
        {%with subscription=rental.get_stripe_subscription_model%}
        <tr>
            <td><a href="{%url 'rent:rental_invoices' airport.identifier rental.id%}">{{rental.hangar.code}}</a></td>
            <td>{{rental.tenant.display_name}}</td>
            <td>{%format_currency rental.rent%}</td>
            <td>{%humanized_date rental.paid_through_date%}</td>
            <td>
                {%if rental.paid_through_date >= now%}
                    {%icon bi-check2-circle text-success title="Current"%}
                {%elif rental.paid_through_date >= airport.today%}
                    {%icon bi-bell-fill text-warning title="Due Today"%}
                {%else%}
                    {%icon bi-exclamation-triangle text-danger title="Delinquent"%}
                {%endif%}
            </td>
        </tr>
        {%endwith%}
        {%endfor%}
    </table>
</section>

<script type="text/javascript">
    {%include "the_hangar_hub/airport/rent/management/collection/script.js"%}
</script>

{%endblock%}