{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}

{%block title%}My Hangar: {{hangar.code}}{%endblock%}

{% block main_content %}
<h1>Hangar {{hangar.code}}</h1>

<div class="content-1024 content-block">
    <h2>Rental Agreement(s)</h2>
    <table class="table">
        <tr>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Rent</th>
            <th scope="col">Deposit</th>
            <th scope="col">Notes</th>
        </tr>
        {%for rental in rentals%}
            <tr>
                <td>{{rental.start_date|date:preferred_date_format}}</td>
                <td>{{rental.end_date|date:preferred_date_format}}</td>
                <td>{%format_currency rental.rent%}</td>
                <td>{%format_currency rental.deposit%}</td>
                <td>{{rental.notes}}</td>
            </tr>
        {%endfor%}
    </table>
</div>

<div class="content-1024 content-block">
    <h2>Maintenance Requests</h2>
    <table class="table">
        <tr>
            <th scope="col">Summary</th>
            <th scope="col">Request Date</th>
            <th scope="col">Status</th>
        </tr>
    {%for mxr in mx_requests%}
        <tr>
            <td>
                <a href="{%url 'mx:tenant_view' airport.identifier mxr.id%}">{{mxr.summary}}</a>
            </td>
            <td>{{mxr.date_created}}</td>
            <td>{{mxr.status}}</td>
        </tr>
    {%empty%}
        <tr>
            <td colspan="3"><em class="text-muted">No Maintenance History</em></td>
        </tr>
    {%endfor%}
    </table>

    <a href="{%url 'mx:request_form' airport.identifier hangar.code%}" class="btn btn-primary">Report a Maintenance Issue</a>
</div>

{%endblock%}