{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}

{%block title%}Hangar: {{hangar.code}}{%endblock%}

{% block main_content %}
<h1>{{hangar.code}}</h1>

<div class="content-block">
    <h2>Hangar Data</h2>
    <table class="table">
        <tr valign="top">
            <th scope="col">
                Capacity<br />
                <em>Number of planes</em>
            </th>
            <th scope="col">
                Default Rent
                <em>Can be overridden per rental</em>
            </th>
            <th scope="col">Features</th>
        </tr>
        <tr valign="top">
            <td>
                <label for="capacity" class="visually-hidden">Capacity</label>
                <input type="number" id="capacity" name="capacity" value="{{hangar.capacity}}" min="1" max="100" class="form-control" />
            </td>
            <td>
                <label for="default_rent" class="visually-hidden">Default Rent</label>
                <input type="text" id="default_rent" name="default_rent" value="{{hangar.default_rent}}" class="form-control" />
            </td>
            <td>
                <fieldset>
                    <legend class="visually-hidden">Features</legend>
                    <label>
                        <input type="checkbox" value="1" name="electric" {%if hangar.electric %}checked{%endif%} />
                        Electricity
                    </label>
                </fieldset>
            </td>
        </tr>
    </table>
</div>

<div class="content-block">
    <h2>Current/Future Tenants</h2>

    <table class="table">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Rent</th>
            <th scope="col">Deposit</th>
            <th scope="col">Notes</th>
            <th scope="col">Invoice</th>
        </tr>
        {%for rental in hangar.present_rental_agreements%}
            {%include "the_hangar_hub/airport/infrastructure/one_hangar/_rental_row.html" with rental=rental%}
        {%empty%}
            <tr>
                <td colspan="9" class="text-center">No Current Tenants</td>
            </tr>
        {%endfor%}
        {%for rental in hangar.future_rentals%}
            {%include "the_hangar_hub/airport/infrastructure/one_hangar/_rental_row.html" with rental=rental%}
        {%endfor%}
        {%if selected_application%}
        <form method="post" action="{%url 'rent:add_tenant' airport.identifier hangar.id%}">
            {%csrf_token%}
            <input type="hidden" name="application_id" value="{{selected_application.id}}" />
            <tr>

                <td>
                    <label for="nt-first_name" class="visually-hidden">First Name</label>
                    <input type="text" name="first_name" id="nt-first_name" placeholder="First Name" value="{{prefill.first_name|default:selected_application.user.first_name}}" class="form-control" />
                </td>
                <td>
                    <label for="nt-last_name" class="visually-hidden">Last Name</label>
                    <input type="text" name="last_name" id="nt-last_name" placeholder="Last Name" value="{{prefill.last_name|default:selected_application.user.last_name}}" class="form-control" />
                </td>
                <td>
                    <label for="nt-email" class="visually-hidden">Email Address</label>
                    <input type="email" name="email" id="nt-email" placeholder="Email Address" value="{{prefill.email|default:selected_application.preferred_email}}" class="form-control" />
                </td>

                <td>
                    <label for="nt-start_date" class="visually-hidden">Start Date</label>
                    <input type="date" name="start_date" id="nt-start_date" placeholder="Start Date" value="{{prefill.start_date|default:''}}" class="form-control" />
                </td>
                <td>
                    <label for="nt-end_date" class="visually-hidden">End Date</label>
                    <input type="date" name="end_date" id="nt-end_date" placeholder="End Date" value="{{prefill.end_date|default:''}}" class="form-control" />
                </td>
                <td>
                    <label for="nt-rent" class="visually-hidden">Rent</label>
                    <input type="text" name="rent" id="nt-rent" placeholder="Rent" value="{{prefill.rent|default:''}}" class="form-control" />
                </td>
                <td>
                    <label for="nt-deposit" class="visually-hidden">Deposit</label>
                    <input type="text" name="deposit" id="nt-deposit" placeholder="Deposit" value="{{prefill.deposit|default:''}}" class="form-control" />
                </td>
                <td>
                    <label for="nt-notes" class="visually-hidden">notes</label>
                    <textarea name="notes" id="nt-notes" placeholder="notes" rows="3" class="form-control">{{prefill.notes|default:selected_application.aircraft_description}}</textarea>
                </td>
                <td>
                    <button type="submit" class="btn btn-success">Add</button>
                </td>
            </tr>
        </form>
        {%else%}
        <form method="post" action="{%url 'rent:add_tenant' airport.identifier hangar.id%}">
            {%csrf_token%}
            <tr>
                <td>
                    <label for="nt-first_name" class="visually-hidden">First Name</label>
                    <input type="text" name="first_name" id="nt-first_name" placeholder="First Name" value="{{prefill.first_name|default:''}}" class="form-control" />
                </td>
                <td>
                    <label for="nt-last_name" class="visually-hidden">Last Name</label>
                    <input type="text" name="last_name" id="nt-last_name" placeholder="Last Name" value="{{prefill.last_name|default:''}}" class="form-control" />
                </td>
                <td>
                    <label for="nt-email" class="visually-hidden">Email Address</label>
                    <input type="email" name="email" id="nt-email" placeholder="Email Address" value="{{prefill.email|default:''}}" class="form-control" />
                </td>
                <td>
                    <label for="nt-start_date" class="visually-hidden">Start Date</label>
                    <input type="date" name="start_date" id="nt-start_date" placeholder="Start Date" value="{{prefill.start_date|default:''}}" class="form-control" />
                </td>
                <td>
                    <label for="nt-end_date" class="visually-hidden">End Date</label>
                    <input type="date" name="end_date" id="nt-end_date" placeholder="End Date" value="{{prefill.end_date|default:''}}" class="form-control" />
                </td>
                <td>
                    <label for="nt-rent" class="visually-hidden">Rent</label>
                    <input type="text" name="rent" id="nt-rent" placeholder="Rent" value="{{prefill.rent|default:''}}" class="form-control" />
                </td>
                <td>
                    <label for="nt-deposit" class="visually-hidden">Deposit</label>
                    <input type="text" name="deposit" id="nt-deposit" placeholder="Deposit" value="{{prefill.deposit|default:''}}" class="form-control" />
                </td>
                <td>
                    <label for="nt-notes" class="visually-hidden">notes</label>
                    <textarea name="notes" id="nt-notes" placeholder="notes" rows="3" class="form-control">{{prefill.notes|default:''}}</textarea>
                </td>
                <td>
                    <button type="submit" class="btn btn-success">Add</button>
                </td>
            </tr>
        </form>
        {%endif%}
    </table>
    {%if issues%}
        <div class="alert alert-danger">
            <b>{%icon bi-exclamation-triangle%} There were issues creating the new tenant</b><br />
            <ul>
                {%for issue in issues%}
                    <li>{{issue}}</li>
                {%endfor%}
            </ul>
        </div>
    {%endif%}











</div>


<div class="content-block">
    <h2>Maintenance Requests</h2>
    ToDo: Display Recent Maintenance Requests
</div>


<div class="content-block">
    <h2>Rental History</h2>
    <table class="table">
        <tr>
            <th scope="col">Tenant</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Rent</th>
            <th scope="col">Deposit</th>
            <th scope="col">Notes</th>
        </tr>
        {%for rental in rentals%}
            <tr>
                <td>{{rental.tenant}}</td>
                <td>{{rental.start_date|date:preferred_date_format}}</td>
                <td>{{rental.end_date|date:preferred_date_format}}</td>
                <td>{{rental.rent}}</td>
                <td>{{rental.deposit}}</td>
                <td>{{rental.notes}}</td>
            </tr>
        {%empty%}
            <tr>
                <td colspan="6" class="text-center">No Rental History</td>
            </tr>
        {%endfor%}
    </table>
</div>

{%include "the_hangar_hub/airport/application/management/_selected_application.html"%}

<script type="text/javascript">
    {%include "the_hangar_hub/airport/rent/subscriptionsubscriptions.js"%}
</script>
{%endblock%}