{% load base_taglib %}
{% load static %}

{## Parameter: rental_agreement ##}

{%with customer=rental_agreement.customer%}
    {%if customer%}

        {%if customer.user and customer.user == current_user.user%}
            <p class="text-sm">
                We use Stripe to securely handle all billing and payments.<br />
                You can manage your payment information in the Stripe Customer Portal.<br />
                Be sure to use <b>{{stripe_customer.email}}</b> as your email address.<br />
            </p>
            <div class="">
                <a href="{{'STRIPE_PORTAL_LINK'|get_setting}}" class="btn btn-primary btn-sm" target="_blank">
                    <span class="visually-hidden">manage your payment information in the</span>
                    Stripe Customer Portal
                </a>
            </div>
        {%else%}
            {%if is_development or is_developer%}
                {%icon bi-code title="ID"%} {{customer.id}}: {{customer.stripe_id}}<br />
            {%endif%}

            {%if customer.delinquent%}
                {%icon bi-heart-pulse text-danger%}
                <span class="badge text-bg-danger">Delinquent</span><br />
            {%elif customer.deleted%}
                {%icon bi-heart-pulse text-danger%}
                <span class="badge text-bg-danger">Deleted</span><br />
            {%else%}
                {%icon bi-heart-pulse%}
                Active<br />
            {%endif%}

            {%if customer.balance_cents%}
                {%icon bi-cash-coin text-success title="Credit Balance"%}
                {%format_currency customer.credit_balance%}
            {%endif%}

            {%icon bi-credit-card title="Payment Method"%}
            {{customer.default_payment|default:"No Saved Payment Method"}}<br />

            {%icon bi-envelope-at title="Billing Email"%}
            {{customer.email}}<br />

            <img src="{% static 'images/hobbs-transparent-icon.png' %}" style="max-width:25px;" aria-hidden="true" />
            {%if customer.user%}
                Has HangarHub Account<br />
            {%else%}
                No HangarHub Account<br />
            {%endif%}
        {%endif%}

    {%else%}
        {%icon bi-exclamation-diamond%}
        Not Setup in Stripe
    {%endif%}
{%endwith%}