{% load base_taglib %}

{## Parameter: rental_agreement ##}

{%with subscription=rental_agreement.stripe_subscription%}
    {%if subscription%}
        {%if is_development or is_developer%}
            {%icon bi-code title="ID"%} {{subscription.id}}: {{subscription.stripe_id}}<br />
        {%endif%}



        {%if subscription.danger%}
            {%icon bi-heart-pulse text-danger title="Subscription Status"%}
            <span class="badge text-bg-danger">{{subscription.status_display}}</span>
        {%else%}
            {%icon bi-heart-pulse title="Subscription Status"%} {{subscription.status_display}}
        {%endif%}<br />

        {%icon bi-calendar4-week title="Current Period"%}
        {%if subscription.status == "trialing"%}
            {{subscription.current_period_end|date:preferred_date_format}}
        {%else%}
            {{subscription.current_period_start|date:preferred_date_format}} -
            {{subscription.current_period_end|date:preferred_date_format}}
        {%endif%}<br />


        {%icon bi-cash-coin title="Recurring Charge"%}
        {%format_currency subscription.amount%}<br />

        {%icon bi-credit-card title="Recurring Charge"%}
        {{subscription.payment_method}}<br />

        {%if subscription.cc_expiration_alert%}
            <span class="badge text-bg-danger">
                {%icon bi-exclamation-triangle title="Credit Card Expired!"%}
                Expired {{subscription.cc_expiration_alert}}
            </span>
            <br />
        {%elif subscription.cc_expiration_warning%}
            <span class="badge text-bg-warning">
                {%icon bi-alarm title="Credit Card Expires Soon!"%}
                Expires {{subscription.cc_expiration_warning}}
            </span>
            <br />
        {%endif%}

        {%if subscription.canceled_at%}
            {%icon bi-calendar-x title="Canceled"%}
            {{subscription.canceled_at|date:preferred_date_format}}<br />

        {%elif subscription.ended_at%}
            {%icon bi-calendar-x title="Ended"%}
            {{subscription.ended_at|date:preferred_date_format}}<br />

        {%elif subscription.cancel_at%}
            {%icon bi-calendar-x text-danger title="Cancel at"%}
            {{subscription.ended_at|date:preferred_date_format}}<br />

        {%elif subscription.cancel_at_period_end%}
            {%icon bi-slash-circle text-danger%}
            Cancels at period end<br />
        {%endif%}

        {%if subscription.cancellation_reason%}
            {%icon bi-chat-left-text-fill title="Cancellation Reason"%}
            {{subscription.cancellation_reason}}<br />
        {%endif%}
    {%else%}

            <a href="{%url 'rent:subscription_checkout' airport.identifier rental_agreement.id%}" class="btn btn-primary" style="width: 100%;">
                {%icon bi-credit-card%} Start Auto-Pay<br />
                <em style="font-size:.9em;">Must have a credit card on-hand</em>
            </a>

            {%if manages_this_airport%}
            <div class="btn btn-secondary" style="width: 100%;" onclick="$(this).parent().find('.popup').removeClass('hidden');">
                {%icon bi-credit-card%} Configure Auto-Pay<br />
                <em style="font-size:.9em;">Tenant must complete within 24 hours</em>
                <div class="popup hidden" style="max-width:400px;max-height:500px;cursor:default;">
                    <form method="post" action="{%url 'rent:subscription_email' airport.identifier rental_agreement.id%}">
                        {%csrf_token%}
                        <b>{%icon bi-credit-card%} Configure Auto-Pay</b><br />
                        <em>Email the tenant with a link to set up auto-pay.</em><br />
                        <br />
                        <div class="input-group mb-1">
                            <label class="input-group-text" for="tenant_email">To</label>
                            <input type="email" value="{{rental_agreement.tenant.email}}" id="tenant_email" class="form-control" readonly />
                        </div>
                        <div class="input-group mb-1">
                            <label class="input-group-text" for="airport_email">From</label>
                            <input type="email" value="{{airport.support_email|default:current_user.email}}" id="airport_email" name="airport_email" class="form-control" />
                        </div>


                        <br />
                        <br />
                        The link will expire in 24 hours<br />
                        <br />

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">{%icon bi-envelope%} Send</button>
                        </div>
                    </form>
                </div>
            </div>
            {%endif%}


    {%endif%}
{%endwith%}