{% load base_taglib %}

{## Parameter: invoice ##}

<tr data-invoice_id="{{invoice.id}}" {%if invoice.status_code == "X"%}class="invoice-cancelled"{%endif%}>
    <td>{%humanized_date invoice.date_created%}</td>
    <td>
        {{invoice.period_start_date|date:preferred_date_format}} - {{invoice.period_end_date|date:preferred_date_format}}
    </td>
    <td>
        {%if not invoice.stripe_invoice%}
            Manual Collection
        {%elif not invoice.stripe_subscription%}
            Stripe (One-Time)
        {%else%}
            Stripe (Monthly)
        {%endif%}
    </td>
    <td {%if invoice.status_code == "X"%}style="text-decoration:line-through;"{%endif%}>
        {%format_currency invoice.amount_charged%}
    </td>
    <td>
        {%format_currency invoice.amount_paid%}<br />
        {%if invoice.payment_method_code%}
            <em class="text-sm text-muted">{{invoice.payment_method}}</em>
        {%endif%}
    </td>
    <td>
        {%if invoice.status_code == "P"%}
            {%icon bi-clipboard-check text-success title=invoice.status%}
        {%elif invoice.status_code == "W"%}
            {%icon bi-gift text-success title=invoice.status%}
        {%elif invoice.status_code == "X"%}
            {%icon bi-slash-circle text-muted title=invoice.status%}
        {%elif invoice.status_code == "U"%}
            {%icon bi-clipboard-x text-danger title=invoice.status%}
        {%elif invoice.status_code == "I"%}
            {%icon bi-pencil-square text-muted title=invoice.status%}
        {%elif invoice.period_start_date < now%}
            {%icon bi-clipboard-minus text-danger title=invoice.status%}
        {%else%}
            {%icon bi-clipboard-minus title=invoice.status%}
        {%endif%}
    </td>
    <td>
        {%if invoice.is_stripe_invoice%}
            {%if invoice.stripe_invoice.hosted_invoice_url and invoice.status_code == "O"%}
                <a href="{{invoice.stripe_invoice.hosted_invoice_url}}" target="_blank">Pay Now</a>
            {%elif invoice.stripe_invoice.hosted_invoice_url and invoice.status_code == "P"%}
                <a href="{{invoice.stripe_invoice.hosted_invoice_url}}" target="_blank">View Receipt</a>
            {%elif invoice.stripe_invoice.hosted_invoice_url%}
                <a href="{{invoice.stripe_invoice.hosted_invoice_url}}" target="_blank">View</a>
            {%endif%}
        {%endif%}


    </td>
</tr>