{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}

{%block title%}Payment Dashboard{%endblock%}

{% block main_content %}
<h1>Payment Dashboard</h1>
<br />

{%if not rental_agreements%}
    <section class="text-center">
        {%icon bi-exclamation-triangle text-warning style="font-size:4em;"%}<br />
        <br />
        <strong>You Have No Rental Agreements</strong>
    </section>
    <section class="text-center">
        You are currently logged in as <b>{{current_user.email}}</b>.<br />
        If the airport set up your rental agreements with a different email, you'll have to add that email in your
        <a href="{%url 'base:profile'%}">profile</a>,
        or have the airport update your rental agreement.
    </section>
{%endif%}


{%for rental_agreement in rental_agreements%}
    <h2>Hangar {{rental_agreement.hangar.code}} at {{rental_agreement.airport.identifier}}</h2>
    {%include "the_hangar_hub/airport/rent/summaries/_cards.html"%}

    <section>
        <h2>Invoices</h2>
        {%if rental_agreement.relevant_invoice_models%}

        <table class="table" id="invoice_table">
            <tr>
                <th scope="col">Created</th>
                <th scope="col">Period</th>
                <th scope="col">Collection Method</th>
                <th scope="col">Charged</th>
                <th scope="col">Paid</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
            {%for invoice in rental_agreement.relevant_invoice_models%}
                {%include "the_hangar_hub/airport/rent/tenant/payment/dashboard/_invoice_tr.html"%}
            {%endfor%}
        </table>

        {%else%}
        <div class="content-800">
            <div class="alert alert-info">
                <strong>No Invoices to Display</strong><br />
                There are currently no invoices associated with your rental agreement.
            </div>
        </div>
        {%endif%}
    </section>

{%endfor%}





<script type="text/javascript">
    {%include "the_hangar_hub/airport/rent/tenant/payment/dashboard/script.js"%}
</script>
<style>
    .invoice-cancelled td{
        color: #999;
    }
</style>
{%endblock%}