{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}
{% load static %}

{%block title%}The Hangar public: Only airport tenants beyond this point{%endblock%}

{% block main_content %}
<div class="content-800 content-center">
    <h1>Restricted Area</h1>

    <img src="{% static 'images/restricted_access.png' %}" alt="Plane stopped at a restricted access sign" class="img-fluid rounded" /><br />
    <div class="text-center xlg">
        <strong class="xxl">Only airport tenants may proceed beyond this point.</strong>
    </div>
</div>
{%endblock%}