{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}
{% load hub_taglib %}

{%block title%}
The Hangar Hub: Hangar Application Dashboard
{%endblock%}

{% block main_content %}

<h1>
    Hangar Application Dashboard
</h1>

{%if applications%}
<div class="content-800 content-block">
    <h2>My Applications</h2>
    <table class="table">
        <tr>
            <th scope="col">Airport</th>
            <th scope="col">Application Date</th>
            <th scope="col">Application Status</th>
            <th scope="col">Actions</th>
        </tr>
        {%for application in applications%}
        <tr>
            <td>{{application.airport.identifier}}</td>
            <td>{{application.submission_date}}</td>
            <td>{{application.status}}</td>
            <td>
                {%if application.is_incomplete%}
                    <a href="{%url 'apply:resume' application.id%}">
                        {%icon bi-pencil-square title="Resume Application"%}
                    </a>
                {%else%}
                    <a href="{%url 'apply:review' application.id%}">
                        {%icon bi-search title="View Application"%}
                    </a>
                {%endif%}
            </td>
        </tr>
        {%endfor%}
    </table>
</div>
{%endif%}

<div class="content-800 content-block">
    <h2>Start a New Application</h2>

    <a href="{%url 'apply:form'%}" class="btn btn-primary">Apply Now</a>
</div>

<script type="text/javascript">
{%include 'the_hangar_hub/airport/application/dashboard/dashboard.js'%}
</script>
<style>
</style>

{%endblock%}