/** Styles for components that are the (mostly) same across all templates **/
@import 'variables';

.tile{
    display: block;
    background-color: lighten($navbar_bg_color, 80%);
    border: 2px solid lighten($navbar_bg_color, 20%);
    border-radius: 5px;
    padding: 25px;
    margin: 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}
a.tile{
    color:inherit;
    text-decoration: none;
}
a.tile:hover{
    background-color: lighten($navbar_bg_color, 75%);
    border: 2px solid lighten($navbar_bg_color, 25%);
    text-decoration: underline;
}
.tile-sm{
    padding: 10px;
    margin: 3px;
    width: 100px;
    height: 100px;
}
.tile-md{
    padding: 20px;
    margin: 5px;
    width: 200px;
    height: 200px;
}
.tile-lg{
    padding: 30px;
    margin: 10px;
    width: 300px;
    height: 300px;
}

.smokescreen{
    position:fixed;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 999998;
    background: rgba(20, 20, 20, .4);
}
.smokescreen-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    background-color: $navbar_fg_color;
    opacity: 1;
    color: $navbar_bg_color;
    border: 1px solid $navbar_bg_color;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    z-index: 2147483638;
    transform: translate(-50%, -50%);
}

.page-alert{
    max-width: 800px;
    margin:0 auto;
    text-align:center;
}
.page-alert div{
    border: 1px solid $navbar_bg_color;
    color: $navbar_bg_color;
    background-color: $navbar_fg_color;
    border-radius: 5px;
    padding: 30px;
    margin-top: 30px;
}
.page-alert .bi{
    font-size: 10em;
}

.popup{
    position:fixed;
    top: 25%;
    transform: translateY(-25%);
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    background-color: lighten($navbar_bg_color, 80%);
    z-index: 999999;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    border: 3px solid lighten($navbar_bg_color, 20%);
    border-radius: 5px;
    padding: 20px 10px;
}
.popup-xs{
    top: 60px;
    max-width: 400px;
    height: 400px;
    max-height: 80%;
}
.popup-sm{
    max-width: 600px;
}
.popup-md{
    max-width: 800px;
}
.popup-lg{
    max-width: 1000px;
}
.popup-loading{
    border-radius: 20px;
    max-width: 250px;
    max-height: 250px;
    text-align: center;
    overflow: hidden;
}
.popup-loading .loading-text{
    font-weight: bold;
    color: $navbar_bg_color;
    font-size: 2em;
    margin-bottom: 25px;
}

.google-login-button{
    background-color: #F2F2F2;
    color: #1F1F1F;
    border: 0px solid #747775;
    border-radius: 20px;
    padding: 7px 10px;
    text-align: center;
    font-size: 1.1em;
}