/** Styles that apply to ALL templates **/
body{
    padding: 0;
    margin: 0;
}
p{
    max-width: 800px;
}

.hidden{
    display: None;
}

.text-sm{
    font-size: 0.8em;
}
.text-md{
    font-size: 1em;
}
.text-lg{
    font-size: 1.3em;
}
.text-xl{
    font-size: 1.6em;
}

.float-left{
    display: inline;
    float: left;
}
.float-right{
    display: inline;
    float: right;
}