/* Ajax status colors */
.ajax-pending{
    border-color:   Orange;
    color:          Orange;
}
.ajax-error{
    border-color:   Red !important;
    color:          Red !important;
}
.ajax-success{
    border-color:   Green;
    color:          Green;
}

.ajax-save-result{
    margin-left:5px;
    font-size: 10pt;
    cursor:default;
}
.ajax-status-result{
    margin-left:5px;
    font-size: 12pt;
    cursor:default;
}

/** Ajax status indicators **/
.ajaxLoadImage{
    margin-left:5px;
    margin-right:5px;
    cursor:default;
}
div.ajaxLoading{
    display:inline;
    position:absolute;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100px;
    height:100px;
    z-index:1000;
    border:1px solid #6A7F10;
    border-radius:5px;
    background-color:#E8E1C3;
    margin: auto;
    padding: 25px;
    text-align: center;
    vertical-align: middle;
    cursor:default;
}
span.ajaxLoading{
    display:inline;
    z-index:1001;
    font-size: xx-large;
    cursor:default;
}