/** PAGINATION STYLES
 ******************************************************************************/
.pagination {
    display: block;
    text-align: center;
    margin: 10px auto;
}
.pagination-page {

    margin: 0 0.1em;
    padding: .2em .5em;
    font-size: 1.3em;
    color: #6A7F10;
    background-color: #ccdf7f;
    border-radius: 3px;
}
a.pagination-page:hover {
    color: #ccdf7f;
    background-color: #6A7F10;
}
.pagination-page-current {
    font-weight: bold;
    border: 2px solid #6A7F10;
}
@media screen and (max-width: 650px) {
    .pagination {
        margin: 4px auto;
        word-spacing: -2px;
    }
    .pagination-page {
        margin: 3px;
        padding: 5px;
    }
}
@media screen and (max-width: 500px) {
    .pagination {
        margin: 3px auto;
        word-spacing: -4px;
    }
    .pagination-page {
        margin: 2px;
        padding: 3px;
        font-size: 10pt;
        border-radius: 2px;
    }
}


/** ID PHOTO STYLES
 ******************************************************************************/
.id_photo {
    max-width: 100px;
    border-radius: 5px;
}
.id_photo-navbar {
    max-height: 40px;
    display:inline;
    float:left;
    margin-right:3px;
    border-radius: 3px;
}
.id_photo-thumb {
    max-width: 50px;
    border-radius: 5px;
}
/**
When a user does not have an
ID photo, their styled initials
will be displayed instead
**/
.id_photo-nvl {
    display: block;
    font-size: 24px;
    font-family:serif;
    vertical-align: middle;
    border:2px solid #333;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding-top: 3px;
    color:#000;
    letter-spacing: -3px;
}

/** Styles for the Upload plugin
 ******************************************************************************/
.upload-link-a {
    text-decoration: none;
}
.upload-link-icon {
    text-decoration: none;
}
.upload-link-name {
    text-decoration: underline;
}
.upload-link-size {
    font-size: .8em;
}

.img-rounded{
    border-radius: 7%;
}