{% load base_taglib %}

<li>
    <a class="dropdown-item" href="/">Home</a>
</li>

<li class="dropdown-divider"></li>

<li class="dropdown-header">
    Hangar Waitlist
</li>
<li>
    <div class="dropdown-item">Application</div>
</li>
<li>
    <span class="dropdown-item">Status</span>
</li>

<li class="dropdown-divider"></li>

<li class="dropdown-header">
    Maintenance
</li>
<li>
    <div class="dropdown-item">Report an Issue</div>
</li>
<li>
    <span class="dropdown-item">Something Else?</span>
</li>

<li class="dropdown-divider"></li>

{%if managed_airport_identifiers%}
    {%for identifier in managed_airport_identifiers%}
        <li class="dropdown-header">
            Administration: {{identifier}}
        </li>
        <li>
            <a href="{%url 'hub:manage_airport' identifier%}" class="dropdown-item">Manage Airport</a>
        </li>
        <li>
            <a href="{%url 'hub:airport_buildings' identifier%}" class="dropdown-item">Manage Hangars</a>
        </li>
        <li>
            <span class="dropdown-item">Manage Tenants</span>
        </li>
        <li>
            <span class="dropdown-item">Manage Waitlist</span>
        </li>
    {%endfor%}
{%endif%}