{% load base_taglib %}

{%if include_home%}
    <li>
        <a class="dropdown-item" href="/">Home</a>
    </li>
    <li class="dropdown-divider"></li>
{%endif%}


{% if not user.is_authenticated%}
<li class="dropdown-header">
        Public Services
    </li>
    <a href="{%url 'account_login'%}" class="dropdown-item">Log In</a>
    <a href="{%url 'account_signup'%}" class="dropdown-item">Create Account</a>
{%endif%}


    <li>
        <a href="{%url 'public:search'%}" class="dropdown-item">Airport Search</a>
    </li>


{% if user.is_authenticated and is_a_tenant%}
    <li class="dropdown-header">
        Tenant Services
    </li>
    <li>
        <a href="{%url 'application:dashboard'%}" class="dropdown-item">Hangar Applications</a>
    </li>
    <li>
        <a href="{%url 'rent:tenant_dashboard'%}" class="dropdown-item">Payment Dashboard</a>
    </li>
    <li class="dropdown-header">
        My Hangars
    </li>
    {%for rental in my_rentals%}
    <li>
        <a href="{%url 'rent:hangar' rental.hangar.building.airport.identifier rental.hangar.code%}" class="dropdown-item">{{rental.hangar}}</a>
    </li>
    {%endfor%}
{%endif%}


{%if is_developer%}

    <li class="dropdown-divider"></li>

    <li class="dropdown-header">
        Administration
    </li>


    <li>
        <a href="{%url 'dev:subscriptions'%}" class="dropdown-item">Subscriptions</a>
    </li>
    <li>
        <a href="{%url 'dev:invitation_dashboard'%}" class="dropdown-item">Invitation Dashboard</a>
    </li>

{%endif%}

{% if user.is_authenticated%}




    {%if managed_airports%}

    <li class="dropdown-divider"></li>

    <li class="dropdown-header">
        Management Services
    </li>

        {%for airport in managed_airports%}
            <li class="dropdown-header">
                Administration: {{airport.identifier}}
            </li>

            <li>
                <a href="{%url 'application:mgmt_dashboard' airport.identifier%}" class="dropdown-item">
                    Applications
                    {%with unreviewed_applications=airport.get_unreviewed_applications%}
                        {%if unreviewed_applications%}
                            <span class="badge text-bg-danger">{{unreviewed_applications|length}}</span>

                        {%endif%}
                    {%endwith%}
                </a>
            </li>

            <li>
                <a href="{%url 'mx:mgmt_dashboard' airport.identifier%}" class="dropdown-item">
                    Maintenance
                    {%with new_mx_requests=airport.get_new_mx_requests%}
                        {%if new_mx_requests%}
                            <span class="badge text-bg-danger">{{new_mx_requests|length}}</span>
                        {%endif%}
                    {%endwith%}
                </a>
            </li>

            <li>
                <a href="{%url 'rent:rent_collection_dashboard' airport.identifier%}" class="dropdown-item">Rent Collection</a>
            </li>

            <li>
                <a href="{%url 'infrastructure:buildings' airport.identifier%}" class="dropdown-item">Hangars</a>
            </li>




            <li>
                <a href="{%url 'airport:manage' airport.identifier%}" class="dropdown-item">Manage Airport</a>
            </li>
        {%endfor%}
    {%endif%}
{%endif%}

<script type="text/javascript">
    {%include "base/stripe/event_hook.js"%}
</script>