{% load base_taglib %}

<li>
    <a class="dropdown-item" href="/">Home</a>
</li>

<li class="dropdown-divider"></li>

<li class="dropdown-header">
    Hangar Waitlist
</li>
<li>
    <div class="dropdown-item">Application</div>
</li>
<li>
    <span class="dropdown-item">Status</span>
</li>

<li class="dropdown-divider"></li>

<li class="dropdown-header">
    Maintenance
</li>
<li>
    <div class="dropdown-item">Report an Issue</div>
</li>
<li>
    <span class="dropdown-item">Something Else?</span>
</li>

<li class="dropdown-divider"></li>

<li class="dropdown-header">
    Administration
</li>
<li>
    <div class="dropdown-item">Manage Airport</div>
</li>
<li>
    <div class="dropdown-item">Manage Hangars</div>
</li>
<li>
    <span class="dropdown-item">Manage Tenants</span>
</li>
<li>
    <span class="dropdown-item">Manage Waitlist</span>
</li>
