{% load base_taglib %}
{% if user.is_authenticated and is_a_tenant%}
    <li class="dropdown-header">
        Tenant Services
    </li>
    <li>
        <a href="{%url 'application:dashboard'%}" class="dropdown-item">My Applications</a>
    </li>
    <li>
        <a href="{%url 'rent:tenant_dashboard'%}" class="dropdown-item">Payment Dashboard</a>
    </li>
    <li class="dropdown-header">
        My Hangars
    </li>
    {%for rental in my_rentals%}
    <li>
        <a href="{%url 'rent:hangar' rental.hangar.building.airport.identifier rental.hangar.code%}" class="dropdown-item">{{rental.hangar}}</a>
    </li>
    {%endfor%}
    <li class="dropdown-divider"></li>
{%endif%}