{% load base_taglib %}
{% load sass_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {%if is_development%}
            DEV:
        {%elif is_non_production%}
            STAGE:
        {%endif%}
        {% block title %}{%app_name%}{% endblock %}
    </title>
    {% block favicon %}
        <link rel="shortcut icon" href="{%static_content_url%}/images/favicon.ico" type="image/x-icon">
    {% endblock %}
    {%include "base/template/standard/google_fonts.html"%}
    {% block head %}{% endblock %}

    {%jquery%}
    {%bootstrap%}
    {%icon_library%}
    {%jquery_confirm%}


    {## cdn_js 'utils.js' 'ajax.js' ##}
    {## cdn_css 'legacy.css' 'main.css' 'ajax.css' ##}


    {%if is_development%}
        <link href="{%sass_src 'css/template.scss'%}?app={%app_code%}&v={%app_version%}" rel="stylesheet" type="text/css" />
    {%else%}

    {%endif%}

    <script src="{%static 'js/utils.js'%}?v={%app_version%}"></script>
    <script src="{%static 'js/ajax.js'%}?v={%app_version%}"></script>
    <script type="text/javascript">
        {%include "base/template/standard/template.js"%}
    </script>

    <link href="{%static 'css/ajax.css'%}?app={%app_code%}&v={%app_version%}" rel="stylesheet" type="text/css" />
    <link href="{%static 'css/legacy.css'%}?app={%app_code%}&v={%app_version%}" rel="stylesheet" type="text/css" />
    <link href="{%static 'css/main.css'%}?app={%app_code%}&v={%app_version%}" rel="stylesheet" type="text/css" />
    <link href="{%static 'css/app.css'%}?app={%app_code%}&v={%app_version%}" rel="stylesheet" type="text/css" />

    <script src="{%sass_src 'js/posted-messages.js'%}?v={%app_version%}"></script>
    <link href="{%sass_src 'css/template.scss'%}?app={%app_code%}&v={%app_version%}" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
    $(document).ajaxComplete(function(e, xhr, settings){
        if (!settings.bypassGlobalComplete){
            posted_messages("{% url 'base:messages' %}");
        }
    });
    </script>

    {% block scripts %}{% endblock %}
</head>
<body>
    <div class="template-container">
        <div class="navbar-container">{%include "base/template/standard/navbar/container.html"%}</div>
        <div class="content-container">
            <div class="header-container">{%include "base/template/standard/header/container.html"%}</div>
            <div class="breadcrumb-container">{%include "base/template/standard/breadcrumbs/container.html"%}</div>
            <div class="message-container" id="message-container">{% include 'base/template/standard/messages/messages.html' %}</div>
            <div class="body-container">
                {%block main_content %}
                    Here's some standard content
                {%endblock %}
            </div>
            <div class="footer-container">{%include "base/template/standard/footer/container.html"%}</div>
        </div>
    </div>
    {%include "base/components/loading_indicator.html"%}
    {%smokescreen_spinner name="page_loading" message="Loading..." icon="bi-gear"%}
</body>
</html>

