{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}
{% load static %}

{%block title%}The Hangar Hub{%endblock%}

{% block main_content %}
<div class="content-1024 content-center">
    {%if is_logged_in%}
        <h1>Welcome, {{current_user.first_name}}</h1>
    {%else%}
        <h1>Welcome</h1>
    {%endif%}
    <br />
    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <img src="{% static 'images/hangar_space.png' %}" alt="Image of a hangar with a plane in it" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Hangar Applications</h5>
                    <p class="card-text">
                        <ul>
                            <li>Apply for a hangar</li>
                            <li>Review and modify previous submissions</li>
                        </ul>
                    </p>
                    <a href="{%url 'apply:form'%}" class="btn btn-primary">Apply Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="{% static 'images/wait_list.png' %}" alt="Image of planes waiting to take off" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Waitlist</h5>
                    <p class="card-text">
                        <ul>
                            <li>View your position in the waitlist</li>
                            <li>Update your aircraft information</li>
                            <li>Update your hangar requirements</li>
                        </ul>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Management</h5>
                    <p class="card-text">
                        <ul>
                            <li>Manage your airport's hangar spaces.</li>
                            <li>Invite existing tenants to join the Hangar Hub interface.</li>
                            <li>Accept rent payments</li>
                        </ul>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}