{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}
{% load static %}

{%block title%}The Hangar Hub{%endblock%}

{% block main_content %}
<div class="content-1024 content-center">
    {%if is_logged_in%}
        <h1>Welcome, {{current_user.first_name}}</h1>
    {%else%}
        <h1>Welcome</h1>
    {%endif%}
    <br />

            <div class="card">
                <img src="{% static 'images/apply.png' %}" alt="Image of a hangar with a plane in it" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Hangar Applications</h5>
                    <p class="card-text">
                        <ul>
                            <li>Apply for a hangar</li>
                            <li>Review and modify previous submissions</li>
                        </ul>
                    </p>
                    {%if incomplete_application%}
                        <a href="{%url 'application:resume' incomplete_application.id%}" class="btn btn-primary">Resume Application</a>
                    {%else%}
                        <a href="{%url 'application:form'%}" class="btn btn-primary">Apply Now</a>
                    {%endif%}
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/waitlist.png' %}" alt="Image of planes waiting to take off" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Waitlist</h5>
                    <p class="card-text">
                        <ul>
                            <li>View your position in the waitlist</li>
                            <li>Update your aircraft information</li>
                            <li>Update your hangar requirements</li>
                        </ul>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/hangar_space.png' %}" alt="Image of a hangar with a plane in it" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Management</h5>
                    <p class="card-text">
                        <ul>
                            <li>Manage your airport's hangar spaces.</li>
                            <li>Invite existing tenants to join the Hangar Hub interface.</li>
                            <li>Accept rent payments</li>
                        </ul>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>


        {%if current_user.is_authenticated%}

            <div class="card">
                <img src="{% static 'images/maintenance.png' %}" alt="Image of an airplane having work done on it" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Enhancement Requests</h5>
                    <p class="card-text">
                        Spotted a bug? Dreaming of a new feature? We want to hear from you!
                        <ul>
                            <li>Request a new feature</li>
                            <li>Submit a bug report</li>
                            <li>Vote for other users' ideas</li>
                        </ul>
                    </p>
                    <a href="{%url 'base:enhancement_requests'%}" class="btn btn-primary">Contribute</a>
                </div>
            </div>

        {%endif%}


</div>
<style>
    .card{
        float: left;
        max-width: 300px;
        height: 475px;
        margin-bottom: 20px;
        margin-right: 20px;
    }
</style>
{%endblock%}