{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}
{% load static %}

{%block title%}The Hangar Hub{%endblock%}

{% block main_content %}



<div class="content-1024 content-center">
    <h1>Welcome to the Hangar Hub</h1>
    <strong>Smarter Hangar Management for General Aviation</strong><br />
    <br />

    <div style="background-color:#f6ebcc;">app-cream:</div>
    <div style="background-color:#6e8c94;">app-teal:</div>
    <div style="background-color:#a6bdc4;">app-light-blue:</div>
    <div style="background-color:#667c8a;">app-blue:</div>
    <div style="background-color:#a3b18a;">app-green:</div>
    <div style="background-color:#f4f1e6;">app-neutral:</div>
    <div style="background-color:#1f242e;">app-dark:</div>
    <div style="background-color:#5a6b89;">app-info:</div>
    <div style="background-color:#6b8e23;">app-success:</div>
    <div style="background-color:#d9983d;">app-warning:</div>
    <div style="background-color:#b85d56;">app-danger:</div>
    <br />

    <div class="btn btn-primary">Primary Button</div><br />
    <div class="btn btn-secondary">Secondary Button</div><br />
    <div class="btn btn-info">Info Button</div><br />
    <div class="btn btn-success">Success Button</div><br />
    <div class="btn btn-warning">Warning Button</div><br />
    <div class="btn btn-danger">Danger Button</div><br />
    <br />

    <div class="text-bg-primary">Primary Text BG</div><br />
    <div class="text-bg-secondary">Secondary Text BG</div><br />
    <div class="text-bg-info">Info Text BG</div><br />
    <div class="text-bg-success">Success Text BG</div><br />
    <div class="text-bg-warning">Warning Text BG</div><br />
    <div class="text-bg-danger">Danger Text BG</div><br />
    <br />

    <div class="alert alert-primary">Primary Alert</div><br />
    <div class="alert alert-secondary">Secondary Alert</div><br />
    <div class="alert alert-info">Info Alert</div><br />
    <div class="alert alert-success">Success Alert</div><br />
    <div class="alert alert-warning">Warning Alert</div><br />
    <div class="alert alert-danger">Danger Alert</div><br />
    <div class="alert alert-danger hobbs-alert"><strong>Oooh</strong>Danger Alert</div><br />
    <br />

    



</div>
{%endblock%}