{% load base_taglib %}
{% load upload_taglib %}
{%if airport%}
    {%with logo=airport.get_logo%}
        {%if logo%}
            {%with class=class|default:"img-fluid"%}
            {%with alt=style|default:""%}
            {%with id=id|default:""%}
            {%with alt=alt|default:airport.display_name|add:" Logo"%}
                {%file_preview file=logo class=class style=style alt=alt link=False%}
            {%endwith%}
            {%endwith%}
            {%endwith%}
            {%endwith%}
        {%endif%}
    {%endwith%}
{%endif%}