{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}
{% load static %}

{%block title%}Welcome to {{airport.display_name}}{%endblock%}

{% block main_content %}
<div class="content-1024 content-center">
    <h1>{{airport.display_name}}</h1>
    {%if request.user.is_authenticated%}
        <strong>Welcome, {{current_user.first_name}}</strong><br />
    {%endif%}
    <div class="alert alert-info hobbs-alert">
        <strong>Debug Data:</strong>
            "is_manager": {{is_manager}},
            "is_tenant": {{is_tenant}},
            "on_waitlist": {{on_waitlist}},
            "active_applications": {{active_applications}},
    </div>

    {%if is_manager%}

            <div class="card">
                <img src="{% static 'images/bs-cards/maintenance.png' %}" alt="Airplane with water dripping from hangar roof" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Hangar Maintenance</h5>
                    <p class="card-text">
                        <ul>
                            <li>xxx</li>
                        </ul>
                    </p>
                    <div class="text-center">
                        <a href="{%url 'mx:mgmt_dashboard' request.airport.identifier%}" class="btn btn-info">Maintenance Dashboard</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/bs-cards/reporting.png' %}" alt="Cartoon airplane analyzing a report" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Report Generation</h5>
                    <p class="card-text">
                        <ul>
                            <li>Occupancy reports</li>
                            <li>Revenue summaries</li>
                            <li>Other types of reports???</li>
                        </ul>
                    </p>
                </div>
            </div>
    {%endif%}

    {%if active_applications%}
            <div class="card">
                <img src="{% static 'images/apply.png' %}" alt="Cartoon airplane applying for a hangar" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Application Dashboard</h5>
                    <p class="card-text">
                        <ul>
                            <li>Check the status of your application</li>
                            <li>Edit or withdraw your application</li>
                            <li>Submit a new application</li>
                        </ul>
                        <div class="text-center">
                            <a href="{%url 'application:dashboard'%}" class="btn btn-primary">Application Dashboard</a>
                        </div>
                    </p>
                </div>
            </div>
    {%endif%}

    {%if on_waitlist%}
            <div class="card">
                <img src="{% static 'images/waitlist.png' %}" alt="Planes waiting to take off" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Waitlist Management</h5>
                    <p class="card-text">
                        <ul>
                            <li>Prioritize applicants based on airport policies, aircraft type, etc</li>
                            <li>Keep applicants in the loop with automatic notifications when their status changes</li>
                            <li>Applicants can check their place in line anytime - no need to call!</li>
                        </ul>
                    </p>
                </div>
            </div>
    {%endif%}

    {%if is_tenant%}

            <div class="card">
                <img src="{% static 'images/bs-cards/maintenance.png' %}" alt="Airplane with water dripping from hangar roof" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Hangar Maintenance</h5>
                    <p class="card-text">
                        <ul>
                            <li>Report an issue with your hangar</li>
                            <li>Follow-up on previous maintenance requests</li>
                            <li>View upcoming scheduled maintenance</li>
                        </ul>
                    </p>
                    <div class="text-center">
                        <a href="{%url 'mx:tenant_dashboard'%}" class="btn btn-info">Maintenance Dashboard</a>
                    </div>
                </div>
            </div>


            <div class="card">
                <img src="{% static 'images/bs-cards/payment.png' %}" alt="Cartoon airplane holding a wad of cash" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Payment Center</h5>
                    <p class="card-text">
                        <ul>
                            <li>Keep tenants current with automated billing</li>
                            <li>Tenants can manage auto-pay, or make one-time payments</li>
                            <li>View payment history and create receipts any time</li>
                        </ul>
                    </p>
                </div>
            </div>

    {%endif%}


    {%if not active_applications%}
        <div class="card">
            <img src="{% static 'images/apply.png' %}" alt="Cartoon airplane applying for a hangar" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">Hangar Application</h5>
                <p class="card-text">
                    Fill out an application for a hangar at {{airport.display_name}}
                </p>
                <div class="text-center">
                    <a href="{%url 'application:airport_form' airport.identifier%}" class="btn btn-primary">Apply</a>
                </div>
            </div>
        </div>
    {%endif%}

    <div class="card">
        <img src="{% static 'images/bs-cards/enhance.png' %}" alt="Image of an airplane having work done on it" class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">Enhancement Requests</h5>
            <p class="card-text">
                Spotted a bug? Dreaming of a new feature? We want to hear from you!
                <ul>
                    <li>Request a new feature</li>
                    <li>Submit a bug report</li>
                    <li>Vote for other users' ideas</li>
                </ul>
            </p>

            <div class="text-center">
                <a href="{%url 'base:enhancement_requests'%}" class="btn btn-primary">Contribute</a>
            </div>

        </div>
    </div>


</div>
<style>
    .card{
        float: left;
        max-width: 300px;
        height: 475px;
        margin-bottom: 20px;
        margin-right: 20px;
    }
</style>
{%endblock%}