{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}

{%block title%}The Hangar Hub: Manage Airport - {{airport.identifier}}{%endblock%}

{% block main_content %}
<div class="content-1024">
    <h1>Manage Airport: {{airport.identifier}}</h1>
    <br />

    <h2>Airport Data</h2>
    <table class="table">
        <tr>
            <th scope="row">Airport Name</th>
            <td><input type="text" class="form-control" name="display_name" value="{{airport.display_name}}" onchange="update_airport_data($(this));" /></td>
            <td class="ajax-status-container">&nbsp;</td>
        </tr>
        <tr>
            <th scope="row">Airport Identifier</th>
            <td><input type="text" class="form-control" name="identifier" value="{{airport.identifier}}" onchange="update_airport_data($(this));" /></td>
            <td class="ajax-status-container">&nbsp;</td>
        </tr>
        <tr>
            <th scope="row">City</th>
            <td><input type="text" class="form-control" name="city" value="{{airport.city}}" onchange="update_airport_data($(this));" /></td>
            <td class="ajax-status-container">&nbsp;</td>
        </tr>
        <tr>
            <th scope="row">State</th>
            <td><input type="text" class="form-control" name="state" value="{{airport.state}}" onchange="update_airport_data($(this));" /></td>
            <td class="ajax-status-container">&nbsp;</td>
        </tr>
        <tr>
            <th scope="row">Timezone</th>
            <td>
                {%select_menu options=timezone_options value=airport.timezone name="timezone" onchange="update_airport_data($(this));" class="form-select"%}
            </td>
            <td class="ajax-status-container">&nbsp;</td>
        </tr>
        <tr>
            <th scope="row">Public Email Address</th>
            <td><input type="text" class="form-control" name="info_email" value="{{airport.info_email}}" onchange="update_airport_data($(this));" /></td>
            <td class="ajax-status-container">&nbsp;</td>
        </tr>
    </table>
</div>

<br />
<br />

<div class="content-1024">
    <h2>Airport Managers</h2>
    <div id="managers-container">
        {%include "the_hangar_hub/airport/management/_manager_table.html"%}
    </div>

    <h3>Add an Airport Manager</h3>
    <em>
        Enter the email address of the person you would like to invite to be an airport manager.
        If the person you have in mind already has a HangerHub account, you may enter their username instead.
    </em><br />
    <br />

    <div class="content-800 content-center">
        <div class="input-group mb-3">
            <input type="text" id="invitee" name="invitee" class="form-control initial-focus" placeholder="Username or Email Address" maxlength="128" />
            <button class="btn btn-success" type="button" onclick="invite_manager($(this));">
                {%icon bi-send title="Submit"%}
            </button>
        </div>

    </div>

</div>

<script type="text/javascript">
    {%include "the_hangar_hub/airport/management/scripts.js" %}
</script>

{%endblock%}