{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}

{%block title%}Buildings: {{airport.identifier}}{%endblock%}

{% block main_content %}
    <h1>Buildings at {{airport.identifier}}</h1>
    <div class="alert alert-info hobbs-tip">
        <strong>&nbsp;</strong>
        Hangars are expected to be units within buildings.
        If this is not the case at {{airport.identifier}}, you may create any group that makes sense for your situation.<br />
        For tie-down spaces, for example, you may create a building named "Ramp" and define individual spaces within it.
    </div>

    <form method="POST" action="{%url 'manage:add_building' airport.identifier%}">
        {%csrf_token%}
    <table class="table">
        <tr valign="top">
            <th scope="col">Building Code</th>
            <th scope="col">
                Default Rent<br />
                <em>The default rent when adding hangar spaces to this building</em>
            </th>
            <th scope="col">Number of Hangars</th>
        </tr>
        {%for building in buildings%}
            <tr>
                <td>
                    <a href="{%url 'manage:hangars' airport.identifier building.id%}">{{building.code}}</a>
                </td>
                <td>{%format_currency building.default_rent%}</td>
                <td align="right">{{building.num_hangars}}</td>
            </tr>
        {%endfor%}
        <tr>
            <td>
                <label for="building_code" class="visually-hidden">Building Code</label>
                <input type="text" id="building_code" name="building_code" class="form-control" />
            </td>
            <td>
                <label for="default_rent" class="visually-hidden">Default Rent</label>
                <input type="text" id="default_rent" name="default_rent" placeholder="$123" class="form-control" />
            </td>
            <td>
                <button type="submit" class="btn btn-success btn-sm">Add Building</button>
            </td>
        </tr>
    </table>



    </form>

    {%include "the_hangar_hub/airport/management/_selected_application.html"%}
{%endblock%}