{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}

{%block title%}The Hangar Hub: Claim Airport - {{airport.identifier}}{%endblock%}

{% block main_content %}
<div class="content-800">
    <h1>{{airport.display_name}}</h1>
    <br />
    <div class="alert alert-danger">
        {%icon bi-moon-stars%} {{airport.display_name}} is not currently active on The Hangar Hub.
    </div>
    <br />
    <p>
        If you are a manager at {{airport.display_name}} and would like to begin using The Hanger Hub,
        you can visit the
        <a href="{%url 'airport:subscriptions' airport.identifier%}">Subscriptions</a>
        page to start your free trial period.
    </p>
</div>

<br />
<br />


{%endblock%}