{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}

{%block title%}Hangars: {{building.code}}{%endblock%}

{% block main_content %}
    <h1>Hangars in {{building.code}}</h1>
    <em>Note: Each hangar code must be unique to your airport. By default, the building code will be prepended to numbered hangar codes.</em><br />
    <br />

    <form method="POST" action="{%url 'manage:add_hangar' airport.identifier building.id%}">
        {%csrf_token%}
    <table class="table">
        <tr valign="top">
            <th scope="col">Hangar Code</th>
            <th scope="col">
                Default Rent<br />
                <em>The default rent when adding tenants</em>
            </th>
            <th scope="col">Tenant(s)</th>
            <th scope="col" width="100">Capacity</th>
            <th scope="col" class="text-center" width="200">Has Electricity</th>
            <th scope="col" class="text-center">
                <span class="visually-hidden">Actions</span>
            </th>
        </tr>
        {%for hangar in hangars%}
            <tr data-hangar_id="{{hangar.code}}">
                <td>
                    <a href="{%url 'manage:hangar' airport.identifier hangar.id%}">{{hangar.code}}</a>
                </td>
                <td align="right">{%format_currency hangar.rent%}</td>
                <td>
                    {%for rental in hangar.present_rental_agreements%}
                        {{rental.tenant.display_name}}
                    {%empty%}
                        {%for future_rental in hangar.future_rentals%}
                            <em>
                            {%icon bi-clock title="Future Tenant"%} {{future_rental.tenant.display_name}}
                            </em>

                        {%empty%}
                            <em class="text-muted">None</em>
                        {%endfor%}
                    {%endfor%}

                </td>
                <td align="right">{{hangar.capacity}}</td>
                <td align="center">
                    {%if hangar.electricity%}
                        {%icon bi-check-square title="Has Electricity%}
                    {%else%}
                        {%icon bi-check title="Doesn't Have Electricity%}
                    {%endif%}
                </td>
                <td align="right">
                    {%icon bi-trash text-danger title="Delete Hangar {{hangar.code}}" onclick="delete_hangar($(this));"%}
                </td>
            </tr>
        {%endfor%}
        <tr>
            <td>
                <label for="hangar_code" class="visually-hidden">Hangar Code</label>
                <input type="text" id="hangar_code" name="hangar_code" placeholder="{{building.code}}-#" class="form-control" />
            </td>
            <td>
                <label for="default_rent" class="visually-hidden">Default Rent</label>
                <input type="text" id="default_rent" name="default_rent" placeholder="$0.00" class="form-control" />
            </td>
            <td>&nbsp;</td>
            <td>
                <label for="capacity" class="visually-hidden">Capacity</label>
                <input type="number" id="capacity" name="capacity" placeholder="1" class="form-control" />
            </td>
            <td align="center">
                <label for="electric" class="visually-hidden">Has Electric</label>
                <input type="checkbox" id="electric" name="electric" value="1" />
            </td>
            <td>
                <button type="submit" class="btn btn-success btn-sm">Add Hangar</button>
            </td>
        </tr>
    </table>

    </form>

<div class="alert alert-info hobbs-tip">
    <strong>Add Hangars in Bulk</strong><br />
    To bulk-add hangars with sequenced codes, enter the number of desired hangars in brackets.<br />
    Example:<br />
    <div class="indent list-group">
        <div class="list-group-item">
            Hangar Code: "[5]" would create hangars {{building.code}}-1 through {{building.code}}-5
        </div>
        <div class="list-group-item">
            Hangar Code: "Alpha-[5]" would create hangars Alpha-1 through Alpha-5
        </div>

    </div>
</div>
    {%include "the_hangar_hub/airport/management/_selected_application.html"%}

    <script type="text/javascript">
        {%include "the_hangar_hub/airport/management/scripts.js"%}
    </script>
{%endblock%}