{% load base_taglib %}

<div id="airport_query_form">
    Enter the FAA/ICAO identifier for your airport:<br />
    <br />
    <label for="identifier" class="visually-hidden">Airport Identifier</label>
    <div class="input-group mb-3">
        <input type="text" id="aqf-identifier" name="identifier" class="form-control initial-focus" value="{{identifier|default:''}}" placeholder="Airport Identifier" maxlength="7" />
        <button class="btn btn-success" type="button" onclick="airport_query();">
            {%icon bi-send title="Submit"%}
        </button>
    </div>
</div>
<div id="airport_query_response"></div>
<script type="text/javascript">{%include "the_hangar_hub/_components/airport_selection/airport_selection.js"%}</script>
<style>{%include "the_hangar_hub/_components/airport_selection/airport_selection.css"%}</style>

