{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}

{%block title%}Payment Dashboard{%endblock%}

{% block main_content %}
<h1>Payment Dashboard</h1>
<br />

<h2>Payment Information</h2>
<section>
    <table class="table" style="max-width: 800px;">
        <tr>
            <th scope="row">Email</th>
            <td>{{stripe_customer.email}}</td>
        </tr>
        <tr>
            <th scope="row">Phone</th>
            <td>{%format_phone stripe_customer.phone%}</td>
        </tr>
        <tr>
            <th scope="row">Address</th>
            <td>
                {%for line in stripe_customer.address_lines%}
                    {{line}}<br />
                {%empty%}
                    <em class="text-muted">No Address Info</em>
                {%endfor%}
            </td>
        </tr>
        <tr>
            <th scope="row">Account Status</th>
            <td>
                {%if stripe_customer.delinquent%}
                    <div class="alert alert-danger text-center alert-sm">Delinquent</div>
                {%else%}
                    Active
                {%endif%}
            </td>
        </tr>
        <tr>
            <th scope="row">Default Payment Method</th>
            <td>
                {%if stripe_customer.default_payment_method%}
                    {{stripe_customer.default_payment_method_display}}
                {%else%}
                    <div class="alert alert-danger text-center alert-sm">No Payment Method</div>
                {%endif%}
            </td>
        </tr>
        <tr>
            <th scope="row">Auto-Pay</th>
            <td>
                {%if stripe_customer.default_payment_method%}

                {%else%}
                    You must save your payment information in Stripe before you can enroll in auto-pay.
                {%endif%}
            </td>
        </tr>
        <tr>
            <th scope="row">Billing Portal</th>
            <td>

                We use Stripe to securely handle all billing and payments.<br />
                You can manage your payment information in the Stripe Customer Portal.<br />
                Be sure to use <b>{{stripe_customer.email}}</b> as your email address.<br />
                <div class="text-center">
                <a href="{{'STRIPE_PORTAL_LINK'|get_setting}}" class="btn btn-primary btn-sm" target="_blank">
                    <span class="visually-hidden">manage your payment information in the</span>
                    Stripe Customer Portal
                </a>
                </div>
            </td>
        </tr>
    </table>
</section>


<section>
    <h2>Invoices</h2>
    <br />

    <table class="table">
        <tr>
            <th scope="col">Invoice Date</th>
            <th scope="col">Due Date</th>
            <th scope="col">Invoice #</th>
            <th scope="col">Billing Period</th>
            <th scope="col">Payment</th>
            <th scope="col">Pay To</th>
            <th scope="col">Total</th>
            <th scope="col">URL</th>
        </tr>
    {%for invoice in stripe_invoices%}
        <tr>
            <td>{{invoice.date_invoice|date:preferred_date_format}}</td>
            <td>
                {%humanized_date invoice.date_due%}
            </td>
            <td>{{invoice.number}}</td>
            <td>
                {% for period in invoice.billing_periods%}
                    {{period.start|date:preferred_date_format}} - {{period.end|date:preferred_date_format}}<br />
                {%endfor%}
            </td>
            <td>
                {%if invoice.auto_pay%}
                    {%icon bi-arrow-repeat text-success%} Auto Pay
                {%else%}
                    {%icon bi-slash-circle text-danger%} Pay Manually
                {%endif%}<br />
                {%if invoice.attempt_count%}
                    <span class="text-bg-danger badge">{{invoice.attempt_count}} Failed Attempt{%if invoice.attempt_count != 1%}s{%endif%}</span>
                {%endif%}
            </td>
            <td>{{invoice.account_name}}</td>
            <td>{%format_currency invoice.dollars_due%}</td>
            <td>
                <a href="{{invoice.interactive_url}}" target="_blank">
                    {%icon bi-credit-card%} Pay Now
                </a><br />
                <a href="{{invoice.pdf_url}}" target="_blank">
                    {%icon bi-file-earmark-pdf%} Download
                </a><br />
            </td>
        </tr>
    {%empty%}
        <tr>
            <td colspan="10">
                <em class="text-muted">No Open Invoices</em>
            </td>
        </tr>
    {%endfor%}
    </table>

</section>

{%endblock%}