{% extends 'base/template/standard/template.html' %}
{% load base_taglib %}

{%block title%}Maintenance Request: Hangar {{mx_request.hangar.code}}{%endblock%}

{% block main_content %}
<h1>Maintenance Request: Hangar {{mx_request.hangar.code}}</h1>

    <div class="content-1024 content-block">
        <h2>{{mx_request.summary}}</h2>
        {%humanized_date mx_request.date_created%}<br />
        <br />
        {%if mx_request.notes%}
        <div class="content-800">
            <strong>More Information:</strong><br />
            {{mx_request.notes}}
        </div>
        {%endif%}

        <div class="input-group mb-3">
            <label class="input-group-text" for="priority_code">Priority:</label>
            {%select_menu options=mx_request.priority_options value=mx_request.priority_code id="priority_code" class="form-select" onchange="update_priority($(this));" nullable=False%}
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="status_code">Status:</label>
            {%select_menu options=mx_request.status_options value=mx_request.status_code id="status_code" class="form-select" onchange="update_status($(this));" nullable=False%}
        </div>

    </div>

    <div class="content-800 content-block">
        <h3>Comments:</h3>
        <div id="comments-container">
            {%include "the_hangar_hub/airport/maintenance/comments/comments.html"%}
        </div>
        <script type="text/javascript">
            {%include "the_hangar_hub/airport/maintenance/comments/comment.js"%}
            {%include "the_hangar_hub/airport/maintenance/manager/maintenance.js"%}
        </script>
    </div>


{%endblock%}