{% load base_taglib %}

{%with thread_deleted=thread.posts.deleted%}
{%with thread_flagged=thread.posts.is_flagged%}

<div class="list-group-item">
    <div id="thread-{{thread.id}}" onclick="mb_expand($(this));" style="cursor:pointer;">

        {## THREAD TOPIC ##}
        <div class="float-left">
            {%if thread.posts.is_flagged%}
                <span class="badge text-bg-danger">{%icon bi-flag%} This post was flagged for review</span>
            {%else%}
                {{ thread.topic }}
            {%endif%}
        </div>

        {## DATE/TIME ##}
        <div class="float-right">
            <small class="text-muted">{{ thread.date_created|date:"M d, Y H:i" }}</small>
        </div>

        {## REPLY COUNT BADGE ##}
        <div class="badge text-bg-secondary float-right">{{thread.posts.total_replies_display}}</div>

        {## FLAGGED REPLY INDICATOR ##}
        {%if is_airport_manager and thread.posts.contains_flag%}
            {%icon bi-flag-fill title="Contains flagged posts" class="badge text-bg-danger float-right" style="margin:0 10px;"%}
        {%endif%}
        <br style="clear:both;" />
    </div>

    {## CONTAINER FOR EXPANDED POST ##}
    <div class="content-800 popup hidden">

        {## CLOSE BUTTON ##}
        <div class="float-right">{%icon bi-x-square title="Close Thread" onclick="$('.popup').addClass('hidden');"%}</div>

        {## THREAD TOPIC ##}
        <div class="float-left" style="max-width:90%;">
            {%if thread.posts.is_flagged%}
                Flagged Post
            {%else%}
                <strong>{{ thread.topic }}</strong>
            {%endif%}
        </div>
        <br style="clear:both;" />

        {## POST CONTENT (and replies) ##}
        {%include "the_hangar_hub/airport/customized/message_board/_mb_post.html" with message_group=thread.posts%}
    </div>
</div>

{%endwith%}
{%endwith%}