{%load base_taglib%}

{%with display_mode=message_group.display_mode%}
{%with post_deleted=message_group.is_deleted%}
{%with post_flagged=message_group.is_flagged_for_review%}

{%if display_mode != "SKIP"%}

<div id="post-{{message_group.post.id}}"
     class="card mb-2 {%if post_deleted%}deleted{%endif%} {%if display_mode == 'HIDDEN'%}hidden{%endif%} {%if highlight_post and highlight_post.id == message_group.post.id%}highlight{%endif%}"
     data-post_id="{{message_group.post.id}}"
>
    <div class="card-body">

        {## METADATA (name, date, time) ##}
        <div class="float-left mb-header">
            {{ message_group.post.user.first_name }} {{ message_group.post.user.last_name|first }}.<br />
            <small class="text-muted">{{ message_group.post.date_created|date:preferred_date_format }}</small><br />
            <small class="text-muted">{{ message_group.post.date_created|date:preferred_time_format }}</small><br />
        </div>

        {## POSTED CONTENT ##}
        <div class="float-left posted_content mb-0">
            {%if display_mode == 'PLACEHOLDER'%}
                {% if post_flagged%}
                    <span class="text-danger">This post has been flagged for review</span>
                {%else%}
                    <span class="text-danger">This post has been deleted</span>
                {%endif%}
            {%else%}

                {## FLAGGED BADGE ##}
                {%if post_flagged%}
                    <span class="badge text-bg-danger">
                        {%icon bi-flag-fill%} This post was flagged for review
                    </span><br />

                    {%if message_group.total_replies and not display_mode == "VIEW"%}
                        <br />
                        <span class="badge text-bg-info">
                            {{message_group.total_replies}} replies are being suppressed until this post has been reviewed
                        </span><br />
                    {%endif%}
                {%endif%}


                {## RESPONDING TO ( @user ) ##}
                {%if message_group.post.in_response_to%}
                    <div class="text-muted sm">
                        @{{message_group.post.in_response_to.user.first_name}}
                        {{message_group.post.in_response_to.user.last_name|first}}.
                    </div>
                {%endif%}

                {## POSTED CONTENT ##}
                <div class="posted-message">{{ message_group.post.content }}</div>
            {%endif%}
        </div>

        {## ACTION BUTTONS ##}
        <div class="float-right">
            {%if display_mode == "VIEW"%}

                {## REPLY ##}
                {%icon bi-reply text-primary lg title="Reply" class="float-right" onclick="mb_reply($(this));"%}

                {## REVIEW (unflag or delete) ##}
                {%if manages_this_airport or is_developer%}
                    <br />
                    {%if post_deleted%}
                        {%icon bi-recycle text-success class="float-right mt-3" title="Undelete Post" onclick="mb_review($(this));"%}
                    {%else%}
                        {%icon bi-trash text-danger class="float-right mt-3 ms-2" title="Delete Post" onclick="mb_delete($(this));"%}

                        {%if post_flagged%}
                            {%icon bi-hand-thumbs-up text-success class="float-right mt-3" title="Remove Flag" onclick="mb_review($(this));"%}
                        {%endif%}
                    {%endif%}

                {## FLAG (if not previously flagged) ##}
                {%elif message_group.post.can_flag%}
                    <br />
                    {%icon bi-flag text-danger sm class="float-right mt-3 ms-2" title="Flag Inappropriate Post" onclick="mb_flag($(this));"%}
                {%endif%}
            {%endif%}
        </div>
        <br style="clear:both;" />
    </div>
</div>

{## REPLIES ##}
{%if message_group.replies%}
{%if display_mode == "VIEW"%}
<div id="replies-{{message_group.post.id}}" class="indent {%if post_deleted%}deleted {%if manages_this_airport%}hidden{%endif%}{%endif%}" {%if not message_group.post.in_response_to%}style="border:0;"{%endif%}>
    {%for reply_group in message_group.replies%}
        {%include "the_hangar_hub/airport/customized/message_board/_mb_post.html" with message_group=reply_group%}
    {%endfor%}
</div>
{%endif%}
{%endif%}


{%endif%} {## if SKIP ##}

{%endwith%}
{%endwith%}
{%endwith%}
