{% load base_taglib %}
<div id="airport-message-board">
    <div class="list-group">
    {%for thread in airport.message_board_topics%}
        {%include "the_hangar_hub/airport/customized/message_board/_mb_thread.html"%}
    {%endfor%}
    </div>
    <br />

    {%include "the_hangar_hub/airport/customized/message_board/_mb_form.html"%}
</div>
<script type="text/javascript">
    {%include "the_hangar_hub/airport/customized/message_board/mb_script.js"%}

    {%if expand_thread or highlight_post%}
        $(document).ready(function(){
            {%if highlight_post%}
                $("#thread-{{highlight_post.thread.id}}").trigger("click");
                mb_go_to_post({{highlight_post.id}});
            {%else%}
                $("#thread-{{expand_thread.id}}").trigger("click");
            {%endif%}
        });
    {%endif%}

</script>
<style>
    .mb-header{
        width: 90px;
        margin-right: 10px;
        border-right: 1px solid #AAA;
    }
    #airport-message-board .indent{
        border-left: 1px dotted #CCC;
    }
    #airport-message-board .card-body{
        padding: 7px 10px;
    }
    .list-group-item span.deleted {
        text-decoration: line-through;
        font-style: italic;
        color: #555;
    }
    .card.deleted .posted-message{
        text-decoration: line-through;
        font-style: italic;
        color: #555;
    }
    .indent.deleted .card .posted-message{
        text-decoration: line-through;
        font-style: italic;
        color: #555;
    }
    .card.highlight{
        border: 1px solid green;
        box-shadow:
            0 0 10px rgba(0, 255, 0, 0.6),
            0 0 20px rgba(0, 255, 0, 0.4);
    }
</style>