{%load base_taglib%}


<div class="card mb-2 " data-post_id="{{message_group.post.id}}">
    <div class="card-body">
        <div class="float-left mb-header">
            {{ message_group.post.user.first_name }} {{ message_group.post.user.last_name|first }}.<br />
            <small class="text-muted">{{ message_group.post.date_created|date:preferred_date_format }}</small><br />
            <small class="text-muted">{{ message_group.post.date_created|date:preferred_time_format }}</small><br />
        </div>
        <div class="float-left posted_content mb-0">
            {%if message_group.flagged%}
                <span class="badge text-bg-danger">
                    {%icon bi-flag%} This post was flagged for review
                </span><br />
                {%if message_group.replies%}
                    <br />
                    <span class="badge text-bg-info">
                        {{message_group.replies|length}} replies are being suppressed until this post has been reviewed
                    </span><br />
                {%endif%}
            {%else%}
                {%if message_group.post.in_response_to%}
                    <div class="text-muted sm">
                        @{{message_group.post.in_response_to.user.first_name}}
                        {{message_group.post.in_response_to.user.last_name|first}}.
                    </div>
                {%endif%}
                {{ message_group.post.content }}
            {%endif%}
        </div>

        <div class="float-right">
            {%if not message_group.flagged%}
                {%icon bi-reply text-primary lg title="Reply" onclick="mb_reply($(this));"%}
                {%icon bi-flag text-danger sm title="Flag Inappropriate Post" onclick="mb_flag($(this));"%}
            {%endif%}
        </div>
        <br style="clear:both;" />
    </div>
</div>

{%if message_group.replies and not message_group.flagged%}
<div class="indent" {%if not message_group.post.in_response_to%}style="border:0;"{%endif%}>

    {%for reply_group in message_group.replies%}
        {%include "the_hangar_hub/airport/customized/message_board/_message_group.html" with message_group=reply_group%}
    {%endfor%}

</div>
{%endif%}
