{% load base_taglib %}
<tr>
    <td>{{rental.tenant.contact.first_name}}</td>
    <td>{{rental.tenant.contact.last_name}}</td>
    <td>{{rental.tenant.contact.email}}</td>
    <td>{{rental.start_date|date:preferred_date_format}}</td>
    <td>{{rental.end_date|date:preferred_date_format}}</td>
    <td>{{rental.rent}}</td>
    <td>{{rental.deposit}}</td>
    <td>{{rental.notes}}</td>
    <td>
        {%if not rental.has_subscription%}
            {%icon bi-cash-coin text-danger title="Create Rental Subscription" %}{## onclick="show_subscription_form($(this), '{{rental.id}}')" ##}
        {%else%}
            {%with subscription_data=rental.get_subscription_data%}
                {%if subscription_data.invoice_pdf%}
                    <a href="{{subscription_data.invoice_pdf}}" target="_blank">
                {%else%}
                    <span onclick="$(this).closest('td').find('.invoice-popup').removeClass('hidden');">
                {%endif%}
                {%if subscription_data.invoice_status == "draft"%}
                    {%icon bi-pencil-square text-info title="Draft invoice editable until {{subscription_data.automatically_finalizes_at}}" %}
                {%elif subscription_data.invoice_status == "open"%}
                    {%icon bi-receipt title="Invoice is available" %}
                {%elif subscription_data.invoice_status == "paid"%}
                    {%icon bi-receipt text-success title="Invoice has been paid" %}
                {%elif subscription_data.invoice_status == "uncollectible"%}
                    {%icon bi-receipt text-danger title="Invoice is uncollectible" %}
                {%elif subscription_data.invoice_status == "void"%}
                    {%icon bi-receipt text-warning title="Invoice is void" %}
                {%elif subscription_data.delinquent%}
                    {%icon bi-exclamation-triangle text-danger title="Tenant is delinquent" %}
                {%endif%}

                {%if subscription_data.invoice_pdf%}
                    </a>
                {%else%}
                    </span>
                {%endif%}




                <div class="popup hidden invoice-popup" style="max-width: 800px;">
                    {%if subscription_data.invoice_status == "draft"%}
                        <h2>Draft Invoice</h2>
                    {%else%}
                        <h2>Invoice Details</h2>
                    {%endif%}
                    <table class="table">
                        <tr>
                            <th scope="row">Invoice ID</th>
                            <td>{{subscription_data.invoice_id}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Invoice Period</th>
                            <td>{{subscription_data.period_start|date:preferred_date_format}} - {{subscription_data.period_end|date:preferred_date_format}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Amount Due</th>
                            <td>{%format_currency subscription_data.amount_due%}</td>
                        </tr>
                        <tr>
                            <th scope="row">Due Date</th>
                            <td>
                                {%humanized_date subscription_data.due_date%}
                            </td>
                        </tr>
                        {%if subscription_data.invoice_status == "draft"%}
                        <tr>
                            <th scope="row">Invoice Activation</th>
                            <td>
                                {%humanized_date subscription_data.automatically_finalizes_at%}
                            </td>
                        </tr>
                        {%endif%}
                        {%if subscription_data.invoice_pdf%}
                        <tr>
                            <th scope="row">View Invoice</th>
                            <td>
                                <a href="{{subscription_data.invoice_pdf}}" target="_blank">
                                    {%icon bi-file-earmark-pdf%} invoice.pdf
                                </a>
                            </td>
                        </tr>
                        {%endif%}

                        <tr>
                            <th scope="row">invoice_items</th>
                            <td>
                                <table class="table">
                                {%for line_item in subscription_data.invoice_items%}
                                    <tr>
                                        <th scope="row">{{line_item.description}}</th>
                                        <td align="right">{%format_currency line_item.amount%}</td>
                                    </tr>
                                {%endfor%}
                                </table>
                            </td>
                        </tr>


                    </table>
                    <button type="button" class="btn btn-secondary" onclick="$(this).closest('.popup').addClass('hidden');">Close</button>

                </div>
            {%endwith%}
        {%endif%}
    </td>
</tr>