{% load base_taglib %}
<tr>
    <td>{{rental.tenant.contact.first_name}}</td>
    <td>{{rental.tenant.contact.last_name}}</td>
    <td>{{rental.tenant.contact.email}}</td>
    <td>{{rental.start_date|date:preferred_date_format}}</td>
    <td>{{rental.end_date|date:preferred_date_format}}</td>
    <td>{{rental.rent}}</td>
    <td>{{rental.deposit}}</td>
    <td>{{rental.notes}}</td>
    <td>
        {%if rental.is_current%}
            {%icon bi-cash-coin text-success title="Is Current"%}
        {%elif rental.is_due_today%}
            {%icon bi-cash-coin text-warning title="Payment Due"%}
        {%else%}
            {%icon bi-cash-coin text-danger title="Delinquent"%}
        {%endif%}
        {%if rental.active_subscription%}
            {%icon bi-arrow-repeat text-success title="Active Auto-Pay"%}
        {%else%}
            {%icon bi-arrow-repeat text-danger title="No Auto-Pay"%}
        {%endif%}
    </td>
    <td>
        <form method="post" action="{%url 'rent:terminate_rental_agreement' airport.identifier%}">
            {%csrf_token%}
            <input type="hidden" name="rental_agreement_id" value="{{rental.id}}" />
            {%icon bi-slash-circle text-danger title="Terminate Rental Agreement" onclick="terminate_rental_agreement($(this));"%}
        </form>


    </td>
</tr>